openapi: 3.1.0
info:
  title: HHC Web API
  version: 0.2.0
  description: |-
    Website API owns CMS records and publication state; asset-api owns file bytes, scanning, derivatives, and grants.
    Campaign routes are authorization-preserving proxies to engagement-api, which owns campaign and consent state.
tags:
  - name: Public
    description: Published website projections exposed through api-gateway.
  - name: Admin
    description: CMS administration exposed through api-gateway and authorized by trusted Account identity headers.
  - name: Authenticated
    description: Signed-in application projections exposed through api-gateway.
  - name: Private
    description: Direct Dapr service-to-service operations.
  - name: Operations
    description: Direct service health and readiness endpoints used by platform probes.
x-hhc-service: hhc-web-api
x-hhc-owner: HHC Platform
x-hhc-repository: HallelujahHomeChurch/hhc-web-api
servers:
  - url: https://www.alive.org.tw/api
    description: Public and admin gateway surface; api-gateway validates browser JWTs and injects trusted identity headers.
paths:
  /health:
    get:
      operationId: getHealth
      summary: Get health
      tags: [Operations]
      x-hhc-visibility: operations
      x-hhc-callers: []
      security: []
      servers: [{ url: / }]
      responses:
        '200': { $ref: '#/components/responses/Health' }
  /health/live:
    get:
      operationId: getLiveness
      summary: Get liveness
      tags: [Operations]
      x-hhc-visibility: operations
      x-hhc-callers: []
      security: []
      servers: [{ url: / }]
      responses:
        '200': { $ref: '#/components/responses/Health' }
  /ready:
    get:
      operationId: getReadiness
      summary: Get readiness
      tags: [Operations]
      x-hhc-visibility: operations
      x-hhc-callers: []
      security: []
      servers: [{ url: / }]
      responses:
        '200': { $ref: '#/components/responses/Health' }
        '503': { $ref: '#/components/responses/Error' }
  /health/ready:
    get:
      operationId: getHealthReadiness
      summary: Get health readiness
      tags: [Operations]
      x-hhc-visibility: operations
      x-hhc-callers: []
      security: []
      servers: [{ url: / }]
      responses:
        '200': { $ref: '#/components/responses/Health' }
        '503': { $ref: '#/components/responses/Error' }
  /meetings:
    get:
      operationId: listPublicMeetings
      summary: List public meetings
      tags: [Public]
      x-hhc-visibility: public
      x-hhc-callers: [api-gateway]
      x-hhc-required-headers: [If-None-Match]
      x-hhc-cache: 'public, max-age=30'
      security: []
      parameters: [{ $ref: '#/components/parameters/IfNoneMatch' }]
      responses:
        '200': { $ref: '#/components/responses/PublicMeetingList' }
        '304': { $ref: '#/components/responses/MeetingNotModified' }
        '500': { $ref: '#/components/responses/Error' }
  /meetings/{meetingKey}:
    parameters:
      - $ref: '#/components/parameters/MeetingKey'
    get:
      operationId: getPublicMeeting
      summary: Get a public meeting
      tags: [Public]
      x-hhc-visibility: public
      x-hhc-callers: [api-gateway]
      x-hhc-required-headers: [If-None-Match]
      x-hhc-cache: 'public, max-age=30'
      security: []
      parameters: [{ $ref: '#/components/parameters/IfNoneMatch' }]
      responses:
        '200': { $ref: '#/components/responses/PublicMeeting' }
        '304': { $ref: '#/components/responses/MeetingNotModified' }
        '404': { $ref: '#/components/responses/Error' }
        '500': { $ref: '#/components/responses/Error' }
  /meeting-occurrences:
    get:
      operationId: listPublicMeetingOccurrences
      summary: List public meeting occurrences
      tags: [Public]
      x-hhc-visibility: public
      x-hhc-callers: [api-gateway]
      x-hhc-required-headers: [If-None-Match]
      x-hhc-cache: 'public, max-age=30'
      security: []
      parameters:
        - $ref: '#/components/parameters/IfNoneMatch'
        - $ref: '#/components/parameters/RangeFrom'
        - $ref: '#/components/parameters/RangeTo'
      responses:
        '200': { $ref: '#/components/responses/PublicMeetingOccurrenceList' }
        '304': { $ref: '#/components/responses/MeetingNotModified' }
        '400': { $ref: '#/components/responses/Error' }
        '500': { $ref: '#/components/responses/Error' }
  /meeting-sync-windows:
    get:
      operationId: listMeetingSyncWindows
      summary: List redacted meeting media sync windows
      tags: [Authenticated]
      x-hhc-visibility: authenticated
      x-hhc-callers: [api-gateway]
      x-hhc-required-headers: [Dapr-Caller-App-Id, dapr-api-token, X-HHC-User-ID, X-HHC-Auth-Provider]
      x-hhc-cache: 'private, no-store'
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      parameters:
        - $ref: '#/components/parameters/RangeFrom'
        - $ref: '#/components/parameters/RangeTo'
      responses:
        '200': { $ref: '#/components/responses/MediaSyncWindowList' }
        '400': { $ref: '#/components/responses/Error' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '500': { $ref: '#/components/responses/Error' }
  /admin/operations/church-units:
    get:
      operationId: listChurchUnits
      summary: List church units
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      x-hhc-required-headers: [Dapr-Caller-App-Id, dapr-api-token, X-HHC-User-ID, X-HHC-Auth-Provider, X-HHC-Scopes]
      x-hhc-cache: 'private, no-store'
      x-required-scopes: ['cms:read']
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      parameters: [{ $ref: '#/components/parameters/IncludeArchived' }]
      responses:
        '200': { $ref: '#/components/responses/ChurchUnitList' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '500': { $ref: '#/components/responses/Error' }
    post:
      operationId: createChurchUnit
      summary: Create a church unit
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      x-hhc-required-headers: [Dapr-Caller-App-Id, dapr-api-token, X-HHC-User-ID, X-HHC-Auth-Provider, X-HHC-Scopes, Idempotency-Key]
      x-hhc-cache: 'private, no-store'
      x-required-scopes: ['cms:write']
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      parameters: [{ $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody: { $ref: '#/components/requestBodies/ChurchUnitInput' }
      responses:
        '201': { $ref: '#/components/responses/ChurchUnit' }
        '400': { $ref: '#/components/responses/Error' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '409': { $ref: '#/components/responses/Error' }
        '500': { $ref: '#/components/responses/Error' }
  /admin/operations/church-units/{id}:
    parameters: [{ $ref: '#/components/parameters/OperationsID' }]
    get:
      operationId: getChurchUnit
      summary: Get a church unit
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      x-hhc-required-headers: [Dapr-Caller-App-Id, dapr-api-token, X-HHC-User-ID, X-HHC-Auth-Provider, X-HHC-Scopes]
      x-hhc-cache: 'private, no-store'
      x-required-scopes: ['cms:read']
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      responses:
        '200': { $ref: '#/components/responses/ChurchUnit' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '404': { $ref: '#/components/responses/Error' }
        '500': { $ref: '#/components/responses/Error' }
    put:
      operationId: updateChurchUnit
      summary: Update a church unit
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      x-hhc-required-headers: [Dapr-Caller-App-Id, dapr-api-token, X-HHC-User-ID, X-HHC-Auth-Provider, X-HHC-Scopes, If-Match]
      x-hhc-cache: 'private, no-store'
      x-required-scopes: ['cms:write']
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      parameters: [{ $ref: '#/components/parameters/IfMatch' }]
      requestBody: { $ref: '#/components/requestBodies/ChurchUnitInput' }
      responses:
        '200': { $ref: '#/components/responses/ChurchUnit' }
        '400': { $ref: '#/components/responses/Error' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '404': { $ref: '#/components/responses/Error' }
        '412': { $ref: '#/components/responses/Error' }
        '428': { $ref: '#/components/responses/Error' }
        '500': { $ref: '#/components/responses/Error' }
  /admin/operations/church-units/{id}/{action}:
    parameters:
      - $ref: '#/components/parameters/OperationsID'
      - $ref: '#/components/parameters/StatusAction'
    post:
      operationId: setChurchUnitStatus
      summary: Change a church unit status
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      x-hhc-required-headers: [Dapr-Caller-App-Id, dapr-api-token, X-HHC-User-ID, X-HHC-Auth-Provider, X-HHC-Scopes, If-Match]
      x-hhc-cache: 'private, no-store'
      x-required-scopes: ['cms:write']
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      parameters: [{ $ref: '#/components/parameters/IfMatch' }]
      responses:
        '200': { $ref: '#/components/responses/ChurchUnit' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '404': { $ref: '#/components/responses/Error' }
        '412': { $ref: '#/components/responses/Error' }
        '428': { $ref: '#/components/responses/Error' }
        '500': { $ref: '#/components/responses/Error' }
  /admin/operations/resources:
    get:
      operationId: listOperationsResources
      summary: List operations resources
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      x-hhc-required-headers: [Dapr-Caller-App-Id, dapr-api-token, X-HHC-User-ID, X-HHC-Auth-Provider, X-HHC-Scopes]
      x-hhc-cache: 'private, no-store'
      x-required-scopes: ['cms:read']
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      parameters: [{ $ref: '#/components/parameters/IncludeArchived' }]
      responses:
        '200': { $ref: '#/components/responses/OperationsResourceList' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '500': { $ref: '#/components/responses/Error' }
    post:
      operationId: createOperationsResource
      summary: Create an operations resource
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      x-hhc-required-headers: [Dapr-Caller-App-Id, dapr-api-token, X-HHC-User-ID, X-HHC-Auth-Provider, X-HHC-Scopes, Idempotency-Key]
      x-hhc-cache: 'private, no-store'
      x-required-scopes: ['cms:write']
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      parameters: [{ $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody: { $ref: '#/components/requestBodies/OperationsResourceInput' }
      responses:
        '201': { $ref: '#/components/responses/OperationsResource' }
        '400': { $ref: '#/components/responses/Error' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '409': { $ref: '#/components/responses/Error' }
        '500': { $ref: '#/components/responses/Error' }
  /admin/operations/resources/{id}:
    parameters: [{ $ref: '#/components/parameters/OperationsID' }]
    get:
      operationId: getOperationsResource
      summary: Get an operations resource
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      x-hhc-required-headers: [Dapr-Caller-App-Id, dapr-api-token, X-HHC-User-ID, X-HHC-Auth-Provider, X-HHC-Scopes]
      x-hhc-cache: 'private, no-store'
      x-required-scopes: ['cms:read']
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      responses:
        '200': { $ref: '#/components/responses/OperationsResource' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '404': { $ref: '#/components/responses/Error' }
        '500': { $ref: '#/components/responses/Error' }
    put:
      operationId: updateOperationsResource
      summary: Update an operations resource
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      x-hhc-required-headers: [Dapr-Caller-App-Id, dapr-api-token, X-HHC-User-ID, X-HHC-Auth-Provider, X-HHC-Scopes, If-Match]
      x-hhc-cache: 'private, no-store'
      x-required-scopes: ['cms:write']
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      parameters: [{ $ref: '#/components/parameters/IfMatch' }]
      requestBody: { $ref: '#/components/requestBodies/OperationsResourceInput' }
      responses:
        '200': { $ref: '#/components/responses/OperationsResource' }
        '400': { $ref: '#/components/responses/Error' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '404': { $ref: '#/components/responses/Error' }
        '412': { $ref: '#/components/responses/Error' }
        '428': { $ref: '#/components/responses/Error' }
        '500': { $ref: '#/components/responses/Error' }
  /admin/operations/resources/{id}/{action}:
    parameters:
      - $ref: '#/components/parameters/OperationsID'
      - $ref: '#/components/parameters/StatusAction'
    post:
      operationId: setOperationsResourceStatus
      summary: Change an operations resource status
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      x-hhc-required-headers: [Dapr-Caller-App-Id, dapr-api-token, X-HHC-User-ID, X-HHC-Auth-Provider, X-HHC-Scopes, If-Match]
      x-hhc-cache: 'private, no-store'
      x-required-scopes: ['cms:write']
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      parameters: [{ $ref: '#/components/parameters/IfMatch' }]
      responses:
        '200': { $ref: '#/components/responses/OperationsResource' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '404': { $ref: '#/components/responses/Error' }
        '412': { $ref: '#/components/responses/Error' }
        '428': { $ref: '#/components/responses/Error' }
        '500': { $ref: '#/components/responses/Error' }
  /admin/operations/meetings:
    get:
      operationId: listMeetings
      summary: List meetings for administration
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      x-hhc-required-headers: [Dapr-Caller-App-Id, dapr-api-token, X-HHC-User-ID, X-HHC-Auth-Provider, X-HHC-Scopes]
      x-hhc-cache: 'private, no-store'
      x-required-scopes: ['cms:read']
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      parameters: [{ $ref: '#/components/parameters/IncludeArchived' }]
      responses:
        '200': { $ref: '#/components/responses/MeetingList' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '500': { $ref: '#/components/responses/Error' }
    post:
      operationId: createMeeting
      summary: Create a meeting
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      x-hhc-required-headers: [Dapr-Caller-App-Id, dapr-api-token, X-HHC-User-ID, X-HHC-Auth-Provider, X-HHC-Scopes, Idempotency-Key]
      x-hhc-cache: 'private, no-store'
      x-required-scopes: ['cms:write']
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      parameters: [{ $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody: { $ref: '#/components/requestBodies/MeetingInput' }
      responses:
        '201': { $ref: '#/components/responses/Meeting' }
        '400': { $ref: '#/components/responses/Error' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '409': { $ref: '#/components/responses/Error' }
        '500': { $ref: '#/components/responses/Error' }
  /admin/operations/meetings/{id}:
    parameters: [{ $ref: '#/components/parameters/OperationsID' }]
    get:
      operationId: getMeeting
      summary: Get a meeting for administration
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      x-hhc-required-headers: [Dapr-Caller-App-Id, dapr-api-token, X-HHC-User-ID, X-HHC-Auth-Provider, X-HHC-Scopes]
      x-hhc-cache: 'private, no-store'
      x-required-scopes: ['cms:read']
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      responses:
        '200': { $ref: '#/components/responses/MeetingDetail' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '404': { $ref: '#/components/responses/Error' }
        '500': { $ref: '#/components/responses/Error' }
    put:
      operationId: updateMeeting
      summary: Update a meeting
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      x-hhc-required-headers: [Dapr-Caller-App-Id, dapr-api-token, X-HHC-User-ID, X-HHC-Auth-Provider, X-HHC-Scopes, If-Match]
      x-hhc-cache: 'private, no-store'
      x-required-scopes: ['cms:write']
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      parameters: [{ $ref: '#/components/parameters/IfMatch' }]
      requestBody: { $ref: '#/components/requestBodies/MeetingInput' }
      responses:
        '200': { $ref: '#/components/responses/Meeting' }
        '400': { $ref: '#/components/responses/Error' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '404': { $ref: '#/components/responses/Error' }
        '412': { $ref: '#/components/responses/Error' }
        '428': { $ref: '#/components/responses/Error' }
        '500': { $ref: '#/components/responses/Error' }
  /admin/operations/meetings/{id}/{action}:
    parameters:
      - $ref: '#/components/parameters/OperationsID'
      - $ref: '#/components/parameters/StatusAction'
    post:
      operationId: setMeetingStatus
      summary: Change a meeting status
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      x-hhc-required-headers: [Dapr-Caller-App-Id, dapr-api-token, X-HHC-User-ID, X-HHC-Auth-Provider, X-HHC-Scopes, If-Match]
      x-hhc-cache: 'private, no-store'
      x-required-scopes: ['cms:write']
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      parameters: [{ $ref: '#/components/parameters/IfMatch' }]
      responses:
        '200': { $ref: '#/components/responses/Meeting' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '404': { $ref: '#/components/responses/Error' }
        '412': { $ref: '#/components/responses/Error' }
        '428': { $ref: '#/components/responses/Error' }
        '500': { $ref: '#/components/responses/Error' }
  /admin/operations/meetings/{id}/overrides/{occurrenceDate}:
    parameters:
      - $ref: '#/components/parameters/OperationsID'
      - $ref: '#/components/parameters/OccurrenceDate'
    put:
      operationId: putMeetingOccurrenceOverride
      summary: Create or replace a meeting occurrence override
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      x-hhc-required-headers: [Dapr-Caller-App-Id, dapr-api-token, X-HHC-User-ID, X-HHC-Auth-Provider, X-HHC-Scopes, If-Match]
      x-hhc-cache: 'private, no-store'
      x-required-scopes: ['cms:write']
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      parameters: [{ $ref: '#/components/parameters/IfMatch' }]
      requestBody: { $ref: '#/components/requestBodies/MeetingOccurrenceOverrideInput' }
      responses:
        '200': { $ref: '#/components/responses/MeetingOccurrenceOverride' }
        '400': { $ref: '#/components/responses/Error' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '404': { $ref: '#/components/responses/Error' }
        '412': { $ref: '#/components/responses/Error' }
        '428': { $ref: '#/components/responses/Error' }
        '500': { $ref: '#/components/responses/Error' }
    delete:
      operationId: deleteMeetingOccurrenceOverride
      summary: Delete a meeting occurrence override
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      x-hhc-required-headers: [Dapr-Caller-App-Id, dapr-api-token, X-HHC-User-ID, X-HHC-Auth-Provider, X-HHC-Scopes, If-Match]
      x-hhc-cache: 'private, no-store'
      x-required-scopes: ['cms:write']
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      parameters: [{ $ref: '#/components/parameters/IfMatch' }]
      responses:
        '200': { $ref: '#/components/responses/Meeting' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '404': { $ref: '#/components/responses/Error' }
        '412': { $ref: '#/components/responses/Error' }
        '428': { $ref: '#/components/responses/Error' }
        '500': { $ref: '#/components/responses/Error' }
  /admin/operations/meetings/{id}/collections:
    parameters: [{ $ref: '#/components/parameters/OperationsID' }]
    put:
      operationId: replaceMeetingCollectionBindings
      summary: Replace meeting collection bindings
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      x-hhc-required-headers: [Dapr-Caller-App-Id, dapr-api-token, X-HHC-User-ID, X-HHC-Auth-Provider, X-HHC-Scopes, If-Match]
      x-hhc-cache: 'private, no-store'
      x-required-scopes: ['cms:write']
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      parameters: [{ $ref: '#/components/parameters/IfMatch' }]
      requestBody: { $ref: '#/components/requestBodies/MeetingCollectionBindings' }
      responses:
        '200': { $ref: '#/components/responses/Meeting' }
        '400': { $ref: '#/components/responses/Error' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '404': { $ref: '#/components/responses/Error' }
        '412': { $ref: '#/components/responses/Error' }
        '428': { $ref: '#/components/responses/Error' }
        '500': { $ref: '#/components/responses/Error' }
  /priv/meeting-occurrences:
    get:
      operationId: listPrivateMeetingOccurrences
      summary: List internal meeting occurrences
      tags: [Private]
      x-hhc-visibility: private
      x-hhc-callers: [asset-api, hhc-line-function-bot]
      x-hhc-required-headers: [Dapr-Caller-App-Id, dapr-api-token]
      x-hhc-cache: 'private, no-store'
      security: [{ daprApiToken: [], daprCallerAppId: [] }]
      servers: [{ url: / }]
      parameters:
        - $ref: '#/components/parameters/RangeFrom'
        - $ref: '#/components/parameters/RangeTo'
      responses:
        '200': { $ref: '#/components/responses/MeetingOccurrenceList' }
        '400': { $ref: '#/components/responses/Error' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '500': { $ref: '#/components/responses/Error' }
  /priv/meeting-sync-windows:
    get:
      operationId: listPrivateMeetingSyncWindows
      summary: List internal meeting media sync windows
      tags: [Private]
      x-hhc-visibility: private
      x-hhc-callers: [asset-api, hhc-line-function-bot]
      x-hhc-required-headers: [Dapr-Caller-App-Id, dapr-api-token]
      x-hhc-cache: 'private, no-store'
      security: [{ daprApiToken: [], daprCallerAppId: [] }]
      servers: [{ url: / }]
      parameters:
        - $ref: '#/components/parameters/RangeFrom'
        - $ref: '#/components/parameters/RangeTo'
      responses:
        '200': { $ref: '#/components/responses/MediaSyncWindowList' }
        '400': { $ref: '#/components/responses/Error' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '500': { $ref: '#/components/responses/Error' }
  /admin/campaigns:
    get:
      operationId: listCampaigns
      summary: List campaigns
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-any-scopes: ['campaigns:read', 'cms:read']
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/SearchQuery'
      responses:
        '200': { $ref: '#/components/responses/CampaignPage' }
        '400': { $ref: '#/components/responses/EngagementError' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '500': { $ref: '#/components/responses/EngagementError' }
        '503': { $ref: '#/components/responses/EngagementUnavailable' }
    post:
      operationId: createCampaign
      summary: Create campaign
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-any-scopes: ['campaigns:write', 'cms:write']
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateCampaign' }
      responses:
        '201': { $ref: '#/components/responses/Campaign' }
        '400': { $ref: '#/components/responses/EngagementError' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '409': { $ref: '#/components/responses/EngagementError' }
        '500': { $ref: '#/components/responses/EngagementError' }
        '503': { $ref: '#/components/responses/EngagementUnavailable' }
  /admin/campaigns/{campaignId}:
    parameters:
      - { name: campaignId, in: path, required: true, schema: { type: string, format: uuid } }
    get:
      operationId: getCampaign
      summary: Get campaign
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-any-scopes: ['campaigns:read', 'cms:read']
      responses:
        '200': { $ref: '#/components/responses/Campaign' }
        '400': { $ref: '#/components/responses/EngagementError' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '404': { $ref: '#/components/responses/EngagementError' }
        '500': { $ref: '#/components/responses/EngagementError' }
        '503': { $ref: '#/components/responses/EngagementUnavailable' }
    put:
      operationId: updateCampaign
      summary: Update campaign
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-any-scopes: ['campaigns:write', 'cms:write']
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateCampaign' }
      responses:
        '200': { $ref: '#/components/responses/Campaign' }
        '400': { $ref: '#/components/responses/EngagementError' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '409': { $ref: '#/components/responses/EngagementError' }
        '500': { $ref: '#/components/responses/EngagementError' }
        '503': { $ref: '#/components/responses/EngagementUnavailable' }
    delete:
      operationId: deleteCampaign
      summary: Delete campaign
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-any-scopes: ['campaigns:write', 'cms:write']
      responses:
        '204': { description: Campaign draft deleted }
        '400': { $ref: '#/components/responses/EngagementError' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '409': { $ref: '#/components/responses/EngagementError' }
        '500': { $ref: '#/components/responses/EngagementError' }
        '503': { $ref: '#/components/responses/EngagementUnavailable' }
  /admin/campaigns/{campaignId}/send:
    post:
      operationId: sendCampaign
      summary: Send campaign
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-any-scopes: ['campaigns:send', 'cms:write']
      parameters:
        - { name: campaignId, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200': { $ref: '#/components/responses/Campaign' }
        '400': { $ref: '#/components/responses/EngagementError' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '404': { $ref: '#/components/responses/EngagementError' }
        '409': { $ref: '#/components/responses/EngagementError' }
        '500': { $ref: '#/components/responses/EngagementError' }
        '503': { $ref: '#/components/responses/EngagementUnavailable' }
  /admin/campaigns/{campaignId}/translation-previews/{targetLocale}:
    post:
      operationId: previewCampaignTranslation
      summary: Preview campaign translation
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-any-scopes: ['campaigns:write', 'cms:write']
      parameters:
        - { name: campaignId, in: path, required: true, schema: { type: string, format: uuid } }
        - $ref: '#/components/parameters/CampaignTranslationTargetLocale'
        - $ref: '#/components/parameters/IfMatch'
      requestBody: { $ref: '#/components/requestBodies/TranslationPreviewInput' }
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '200': { $ref: '#/components/responses/CampaignTranslationPreview' }
        '400': { $ref: '#/components/responses/InvalidTranslationRequest' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '404': { $ref: '#/components/responses/TranslationNotFound' }
        '409': { $ref: '#/components/responses/TranslationExists' }
        '412': { $ref: '#/components/responses/TranslationVersionMismatch' }
        '422': { $ref: '#/components/responses/TranslationContentFiltered' }
        '429': { $ref: '#/components/responses/TranslationRateLimited' }
        '500': { $ref: '#/components/responses/Error' }
        '502': { $ref: '#/components/responses/TranslationProviderError' }
        '503': { $ref: '#/components/responses/TranslationDisabled' }
        '504': { $ref: '#/components/responses/TranslationTimeout' }
  /admin/campaigns/{campaignId}/deliveries:
    get:
      operationId: listCampaignDeliveries
      summary: List campaign deliveries
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-any-scopes: ['campaigns:read', 'cms:read']
      parameters:
        - { name: campaignId, in: path, required: true, schema: { type: string, format: uuid } }
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
      responses:
        '200': { $ref: '#/components/responses/CampaignDeliveryPage' }
        '400': { $ref: '#/components/responses/EngagementError' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '404': { $ref: '#/components/responses/EngagementError' }
        '500': { $ref: '#/components/responses/EngagementError' }
        '503': { $ref: '#/components/responses/EngagementUnavailable' }
  /admin/campaigns/{campaignId}/retry-failed:
    post:
      operationId: retryFailedCampaignDeliveries
      summary: Retry failed campaign deliveries
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-any-scopes: ['campaigns:send', 'cms:write']
      parameters:
        - { name: campaignId, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200': { $ref: '#/components/responses/Campaign' }
        '400': { $ref: '#/components/responses/EngagementError' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '404': { $ref: '#/components/responses/EngagementError' }
        '409': { $ref: '#/components/responses/EngagementError' }
        '500': { $ref: '#/components/responses/EngagementError' }
        '503': { $ref: '#/components/responses/EngagementUnavailable' }
  /admin/campaign-schedules:
    get:
      operationId: listCampaignSchedules
      summary: List campaign schedules
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-any-scopes: ['campaigns:read', 'cms:read']
      responses:
        '200': { $ref: '#/components/responses/CampaignScheduleList' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '500': { $ref: '#/components/responses/EngagementError' }
        '503': { $ref: '#/components/responses/EngagementUnavailable' }
    post:
      operationId: createCampaignSchedule
      summary: Create campaign schedule
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scope-sets: [['campaigns:write', 'campaigns:send'], ['cms:write']]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateCampaignSchedule' }
      responses:
        '201': { $ref: '#/components/responses/CampaignSchedule' }
        '400': { $ref: '#/components/responses/EngagementError' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '500': { $ref: '#/components/responses/EngagementError' }
        '503': { $ref: '#/components/responses/EngagementUnavailable' }
  /admin/campaign-schedules/{scheduleId}:
    parameters:
      - { name: scheduleId, in: path, required: true, schema: { type: string, format: uuid } }
    get:
      operationId: getCampaignSchedule
      summary: Get campaign schedule
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-any-scopes: ['campaigns:read', 'cms:read']
      responses:
        '200': { $ref: '#/components/responses/CampaignSchedule' }
        '400': { $ref: '#/components/responses/EngagementError' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '404': { $ref: '#/components/responses/EngagementError' }
        '500': { $ref: '#/components/responses/EngagementError' }
        '503': { $ref: '#/components/responses/EngagementUnavailable' }
    put:
      operationId: updateCampaignSchedule
      summary: Update campaign schedule
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-any-scopes: ['campaigns:write', 'cms:write']
      description: Enabling a schedule additionally requires campaigns:send; legacy cms:write remains accepted during role migration.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateCampaignSchedule' }
      responses:
        '200': { $ref: '#/components/responses/CampaignSchedule' }
        '400': { $ref: '#/components/responses/EngagementError' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '404': { $ref: '#/components/responses/EngagementError' }
        '500': { $ref: '#/components/responses/EngagementError' }
        '503': { $ref: '#/components/responses/EngagementUnavailable' }
    delete:
      operationId: deleteCampaignSchedule
      summary: Delete campaign schedule
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-any-scopes: ['campaigns:write', 'cms:write']
      responses:
        '204': { description: Campaign schedule deleted }
        '400': { $ref: '#/components/responses/EngagementError' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '404': { $ref: '#/components/responses/EngagementError' }
        '500': { $ref: '#/components/responses/EngagementError' }
        '503': { $ref: '#/components/responses/EngagementUnavailable' }
  /admin/campaign-schedules/{scheduleId}/translation-previews/{targetLocale}:
    post:
      operationId: previewCampaignScheduleTranslation
      summary: Preview campaign schedule translation
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-any-scopes: ['campaigns:write', 'cms:write']
      parameters:
        - { name: scheduleId, in: path, required: true, schema: { type: string, format: uuid } }
        - $ref: '#/components/parameters/CampaignTranslationTargetLocale'
        - $ref: '#/components/parameters/IfMatch'
      requestBody: { $ref: '#/components/requestBodies/TranslationPreviewInput' }
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '200': { $ref: '#/components/responses/CampaignTranslationPreview' }
        '400': { $ref: '#/components/responses/InvalidTranslationRequest' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '404': { $ref: '#/components/responses/TranslationNotFound' }
        '409': { $ref: '#/components/responses/TranslationExists' }
        '412': { $ref: '#/components/responses/TranslationVersionMismatch' }
        '422': { $ref: '#/components/responses/TranslationContentFiltered' }
        '429': { $ref: '#/components/responses/TranslationRateLimited' }
        '500': { $ref: '#/components/responses/Error' }
        '502': { $ref: '#/components/responses/TranslationProviderError' }
        '503': { $ref: '#/components/responses/TranslationDisabled' }
        '504': { $ref: '#/components/responses/TranslationTimeout' }
  /bulletins:
    get:
      operationId: listPublicBulletins
      summary: List public bulletins
      tags: [Public]
      x-hhc-visibility: public
      x-hhc-callers: [api-gateway]
      security: []
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Published bulletin page
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PublicBulletinListEnvelope' }
  /bulletins/latest:
    get:
      operationId: getLatestPublicBulletin
      summary: Get latest public bulletin
      tags: [Public]
      x-hhc-visibility: public
      x-hhc-callers: [api-gateway]
      security: []
      parameters: [{ $ref: '#/components/parameters/BulletinEdition' }]
      responses:
        '200': { $ref: '#/components/responses/PublicBulletin' }
        '404': { $ref: '#/components/responses/Error' }
  /bulletins/by-number/{issueNumber}:
    get:
      operationId: getPublicBulletinByNumber
      summary: Get public bulletin by number
      tags: [Public]
      x-hhc-visibility: public
      x-hhc-callers: [api-gateway]
      security: []
      parameters:
        - { name: issueNumber, in: path, required: true, schema: { type: integer, format: int32, minimum: 1, maximum: 2147483647 } }
        - $ref: '#/components/parameters/BulletinEdition'
      responses:
        '200': { $ref: '#/components/responses/PublicBulletin' }
        '400': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
  /bulletins/{issueDate}:
    get:
      operationId: getPublicBulletinByDate
      summary: Get public bulletin by date
      tags: [Public]
      x-hhc-visibility: public
      x-hhc-callers: [api-gateway]
      security: []
      parameters:
        - { name: issueDate, in: path, required: true, schema: { type: string, format: date } }
        - $ref: '#/components/parameters/BulletinEdition'
      responses:
        '200': { $ref: '#/components/responses/PublicBulletin' }
        '404': { $ref: '#/components/responses/Error' }
  /news:
    get:
      operationId: listPublicNews
      summary: List public news
      tags: [Public]
      x-hhc-visibility: public
      x-hhc-callers: [api-gateway]
      security: []
      parameters:
        - $ref: '#/components/parameters/ContentLocale'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses: { '200': { $ref: '#/components/responses/PublicContentList' } }
  /news/{slug}:
    get:
      operationId: getPublicNews
      summary: Get public news
      tags: [Public]
      x-hhc-visibility: public
      x-hhc-callers: [api-gateway]
      security: []
      parameters:
        - { name: slug, in: path, required: true, schema: { type: string, minLength: 1, maxLength: 120, pattern: '^[a-z0-9]+(?:-[a-z0-9]+)*$' } }
        - $ref: '#/components/parameters/ContentLocale'
        - { name: If-None-Match, in: header, schema: { type: string } }
      responses:
        '200': { $ref: '#/components/responses/PublicContentItem' }
        '304': { description: Content has not changed }
        '404': { $ref: '#/components/responses/Error' }
  /history:
    get:
      operationId: listPublicHistory
      summary: List public history
      tags: [Public]
      x-hhc-visibility: public
      x-hhc-callers: [api-gateway]
      security: []
      parameters:
        - $ref: '#/components/parameters/ContentLocale'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses: { '200': { $ref: '#/components/responses/PublicContentList' } }
  /videos:
    get:
      operationId: listPublicVideos
      summary: List public videos
      tags: [Public]
      x-hhc-visibility: public
      x-hhc-callers: [api-gateway]
      security: []
      parameters:
        - $ref: '#/components/parameters/ContentLocale'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses: { '200': { $ref: '#/components/responses/PublicContentList' } }
  /locations:
    get:
      operationId: listPublicLocations
      summary: List published locations for one locale
      description: Reads only the requested published locale; no locale fallback is applied.
      tags: [Public]
      x-hhc-visibility: public
      x-hhc-callers: [api-gateway]
      security: []
      parameters: [{ $ref: '#/components/parameters/ContentLocale' }]
      responses:
        '200': { $ref: '#/components/responses/PublicLocationList' }
        '400': { $ref: '#/components/responses/Error' }
  /pages/{pageKey}:
    get:
      operationId: getPublicPage
      summary: Get one published fixed editorial page in an exact locale
      description: Resolves only the four fixed page keys and never applies locale fallback.
      tags: [Public]
      x-hhc-visibility: public
      x-hhc-callers: [api-gateway]
      security: []
      parameters:
        - $ref: '#/components/parameters/PageKey'
        - $ref: '#/components/parameters/ContentLocale'
        - $ref: '#/components/parameters/IfNoneMatch'
      responses:
        '200': { $ref: '#/components/responses/PublicEditorialPage' }
        '304': { $ref: '#/components/responses/PublicEditorialPageNotModified' }
        '404': { $ref: '#/components/responses/Error' }
  /site-layout:
    get:
      operationId: getPublicSiteLayout
      summary: Get the published site layout for one exact locale
      tags: [Public]
      x-hhc-visibility: public
      x-hhc-callers: [api-gateway]
      security: []
      parameters:
        - { $ref: '#/components/parameters/ContentLocale' }
        - { $ref: '#/components/parameters/IfNoneMatch' }
      responses:
        '200': { $ref: '#/components/responses/SiteLayout' }
        '304': { $ref: '#/components/responses/SiteLayoutNotModified' }
        '404': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
  /home:
    get:
      operationId: getPublicHome
      summary: Get public home
      tags: [Public]
      x-hhc-visibility: public
      x-hhc-callers: [api-gateway]
      security: []
      parameters: [{ $ref: '#/components/parameters/ContentLocale' }]
      responses:
        '200':
          description: Published home page projection
          content:
            application/json:
              schema: { $ref: '#/components/schemas/HomeEnvelope' }
  /admin/site-settings:
    get:
      operationId: getSiteSettings
      summary: Get the Site Settings draft aggregate
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:read']
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '404': { $ref: '#/components/responses/Error' }
        '200': { $ref: '#/components/responses/SiteSettings' }
    put:
      operationId: saveSiteSettings
      summary: Save the Site Settings aggregate as a draft
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:write']
      parameters: [{ $ref: '#/components/parameters/IfMatch' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SiteSettingsWriteInput' }
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '200': { $ref: '#/components/responses/SiteSettings' }
        '400': { $ref: '#/components/responses/Error' }
        '409': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
        '428': { $ref: '#/components/responses/Error' }
  /admin/site-settings/publish:
    post:
      operationId: publishSiteSettings
      summary: Publish all five Site Layout projections atomically
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:publish']
      parameters: [{ $ref: '#/components/parameters/IfMatch' }]
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '200': { $ref: '#/components/responses/SiteSettings' }
        '409': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
        '428': { $ref: '#/components/responses/Error' }
  /admin/site-settings/unpublish:
    post:
      operationId: unpublishSiteSettings
      summary: Unpublish all Site Layout projections atomically
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:publish']
      parameters: [{ $ref: '#/components/parameters/IfMatch' }]
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '200': { $ref: '#/components/responses/SiteSettings' }
        '409': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
        '428': { $ref: '#/components/responses/Error' }
  /admin/site-settings/revisions:
    get:
      operationId: listSiteSettingsRevisions
      summary: List Site Settings revisions
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:read']
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '200': { $ref: '#/components/responses/SiteSettingsRevisionList' }
  /admin/site-settings/revisions/{revision}/restore:
    post:
      operationId: restoreSiteSettingsRevision
      summary: Restore a Site Settings revision to a draft
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:write']
      parameters:
        - $ref: '#/components/parameters/Revision'
        - $ref: '#/components/parameters/IfMatch'
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '200': { $ref: '#/components/responses/SiteSettings' }
        '404': { $ref: '#/components/responses/Error' }
        '409': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
        '428': { $ref: '#/components/responses/Error' }
  /admin/bulletins:
    get:
      operationId: listAdminBulletins
      summary: List admin bulletins
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:read']
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - name: status
          in: query
          schema: { $ref: '#/components/schemas/BulletinStatus' }
        - name: q
          in: query
          schema: { type: string, maxLength: 200 }
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '200':
          description: CMS bulletin list
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BulletinListEnvelope' }
    post:
      operationId: createBulletinIssue
      summary: Create bulletin issue
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:write']
      parameters: [{ $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateBulletinInput' }
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '201': { $ref: '#/components/responses/BulletinIssue' }
        '409': { $ref: '#/components/responses/Error' }
  /admin/bulletins/{issueId}:
    get:
      operationId: getAdminBulletin
      summary: Get admin bulletin
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:read']
      parameters: [{ $ref: '#/components/parameters/IssueID' }]
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '200': { $ref: '#/components/responses/BulletinIssue' }
        '404': { $ref: '#/components/responses/Error' }
    put:
      operationId: updateBulletinIssue
      summary: Update bulletin issue
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:write']
      parameters:
        - $ref: '#/components/parameters/IssueID'
        - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateBulletinInput' }
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '200': { $ref: '#/components/responses/BulletinIssue' }
        '409': { $ref: '#/components/responses/Error' }
        '412': { $ref: '#/components/responses/Error' }
    delete:
      operationId: deleteBulletin
      summary: Delete bulletin
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:write']
      parameters:
        - $ref: '#/components/parameters/IssueID'
        - $ref: '#/components/parameters/IfMatch'
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '204': { description: Bulletin and its revisions deleted }
        '409': { $ref: '#/components/responses/Error' }
        '412': { $ref: '#/components/responses/Error' }
  /admin/bulletins/{issueId}/upload-sessions:
    post:
      operationId: createBulletinUploadSession
      summary: Create bulletin upload session
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:write', 'assets:write']
      parameters:
        - $ref: '#/components/parameters/IssueID'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateBulletinUploadInput' }
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '201':
          description: Short-lived asset upload target created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CreatedUploadEnvelope' }
  /admin/bulletins/{issueId}/versions/{locale}:
    put:
      operationId: updateBulletinVersion
      summary: Update bulletin version
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:write']
      parameters:
        - $ref: '#/components/parameters/IssueID'
        - { name: locale, in: path, required: true, schema: { $ref: '#/components/schemas/BulletinEdition' } }
        - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateBulletinVersionInput' }
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '200': { $ref: '#/components/responses/BulletinIssue' }
        '409': { $ref: '#/components/responses/Error' }
        '412': { $ref: '#/components/responses/Error' }
    delete:
      operationId: deleteBulletinVersion
      summary: Delete bulletin version
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:write']
      parameters:
        - $ref: '#/components/parameters/IssueID'
        - { name: locale, in: path, required: true, schema: { $ref: '#/components/schemas/BulletinEdition' } }
        - $ref: '#/components/parameters/IfMatch'
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '200': { $ref: '#/components/responses/BulletinIssue' }
        '404': { $ref: '#/components/responses/Error' }
        '409': { $ref: '#/components/responses/Error' }
        '412': { $ref: '#/components/responses/Error' }
  /admin/bulletins/{issueId}/assets/{assetId}:
    get:
      operationId: getBulletinAssetStatus
      summary: Get bulletin asset status
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:read']
      parameters:
        - $ref: '#/components/parameters/IssueID'
        - { name: assetId, in: path, required: true, schema: { type: string } }
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '200':
          description: Bulletin PDF scan status
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AssetStatusEnvelope' }
        '404': { $ref: '#/components/responses/Error' }
  /admin/bulletins/{issueId}/assets/{assetId}/scan/retry:
    post:
      operationId: retryBulletinAssetScan
      summary: Retry bulletin asset scan
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:write', 'assets:write']
      parameters:
        - $ref: '#/components/parameters/IssueID'
        - { name: assetId, in: path, required: true, schema: { type: string } }
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '200':
          description: Bulletin PDF scan requeued
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AssetStatusEnvelope' }
        '409': { $ref: '#/components/responses/Error' }
  /admin/bulletins/{issueId}/assets/{assetId}/complete:
    post:
      operationId: completeBulletinUpload
      summary: Complete bulletin upload
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:write', 'assets:write']
      parameters:
        - $ref: '#/components/parameters/IssueID'
        - { name: assetId, in: path, required: true, schema: { type: string } }
        - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CompleteBulletinUploadInput' }
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '200': { $ref: '#/components/responses/BulletinIssue' }
        '412': { $ref: '#/components/responses/Error' }
  /admin/bulletins/{issueId}/publish:
    post:
      operationId: publishBulletin
      summary: Publish bulletin
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:publish']
      parameters:
        - $ref: '#/components/parameters/IssueID'
        - $ref: '#/components/parameters/IfMatch'
      requestBody: { $ref: '#/components/requestBodies/PublicationInput' }
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '202':
          description: Publication workflow accepted
          content:
            application/json:
              schema: { $ref: '#/components/schemas/WorkflowEnvelope' }
        '422': { $ref: '#/components/responses/Error' }
  /admin/bulletins/{issueId}/unpublish:
    post:
      operationId: unpublishBulletin
      summary: Unpublish bulletin
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:publish']
      parameters:
        - $ref: '#/components/parameters/IssueID'
        - $ref: '#/components/parameters/IfMatch'
      requestBody: { $ref: '#/components/requestBodies/PublicationInput' }
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '200': { $ref: '#/components/responses/BulletinIssue' }
        '412': { $ref: '#/components/responses/Error' }
  /admin/bulletins/{issueId}/revisions:
    get:
      operationId: listBulletinRevisions
      summary: List bulletin revisions
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:read']
      parameters: [{ $ref: '#/components/parameters/IssueID' }]
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '200':
          description: Bulletin revisions
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BulletinRevisionListEnvelope' }
  /admin/bulletins/{issueId}/revisions/{revision}/restore:
    post:
      operationId: restoreBulletinRevision
      summary: Restore bulletin revision
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:write']
      parameters:
        - $ref: '#/components/parameters/IssueID'
        - $ref: '#/components/parameters/Revision'
        - $ref: '#/components/parameters/IfMatch'
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '200': { $ref: '#/components/responses/BulletinIssue' }
        '404': { $ref: '#/components/responses/Error' }
        '412': { $ref: '#/components/responses/Error' }
  /admin/bulletins/{issueId}/translation-previews/{targetLocale}:
    post:
      operationId: previewBulletinTranslation
      summary: Preview bulletin translation
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:write']
      parameters:
        - $ref: '#/components/parameters/IssueID'
        - $ref: '#/components/parameters/BulletinTranslationTargetEdition'
        - $ref: '#/components/parameters/IfMatch'
      requestBody: { $ref: '#/components/requestBodies/TranslationPreviewInput' }
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '200': { $ref: '#/components/responses/BulletinTranslationPreview' }
        '400': { $ref: '#/components/responses/InvalidTranslationRequest' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '404': { $ref: '#/components/responses/TranslationNotFound' }
        '409': { $ref: '#/components/responses/TranslationExists' }
        '412': { $ref: '#/components/responses/TranslationVersionMismatch' }
        '422': { $ref: '#/components/responses/TranslationContentFiltered' }
        '429': { $ref: '#/components/responses/TranslationRateLimited' }
        '500': { $ref: '#/components/responses/Error' }
        '502': { $ref: '#/components/responses/TranslationProviderError' }
        '503': { $ref: '#/components/responses/TranslationDisabled' }
        '504': { $ref: '#/components/responses/TranslationTimeout' }
  /admin/content/{module}:
    get:
      operationId: listAdminContent
      summary: List admin content
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:read']
      parameters:
        - $ref: '#/components/parameters/ContentModule'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - { name: q, in: query, schema: { type: string, maxLength: 200 } }
        - { name: status, in: query, schema: { $ref: '#/components/schemas/ContentStatus' } }
        - { name: sort, in: query, schema: { type: string, enum: [updatedAt, displayDate, eventDate] } }
        - { name: direction, in: query, schema: { type: string, enum: [asc, desc] } }
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '200':
          description: Typed content list
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ContentListEnvelope' }
        '400': { $ref: '#/components/responses/Error' }
    post:
      operationId: createContent
      summary: Create content
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:write']
      parameters:
        - $ref: '#/components/parameters/CreatableContentModule'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody: { $ref: '#/components/requestBodies/ContentWriteInput' }
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '201': { $ref: '#/components/responses/ContentItem' }
        '405': { $ref: '#/components/responses/Error' }
        '409': { $ref: '#/components/responses/Error' }
  /admin/content/{module}/{contentId}:
    get:
      operationId: getAdminContent
      summary: Get admin content
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:read']
      parameters:
        - $ref: '#/components/parameters/ContentModule'
        - $ref: '#/components/parameters/ContentID'
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '200': { $ref: '#/components/responses/ContentItem' }
        '404': { $ref: '#/components/responses/Error' }
    put:
      operationId: updateContent
      summary: Update content
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:write']
      parameters:
        - $ref: '#/components/parameters/ContentModule'
        - $ref: '#/components/parameters/ContentID'
        - $ref: '#/components/parameters/IfMatch'
      requestBody: { $ref: '#/components/requestBodies/ContentWriteInput' }
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '200': { $ref: '#/components/responses/ContentItem' }
        '409':
          description: Existing locales omitted from `translations` must be listed in `deleteLocales` (error code `locale_set_mismatch`).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorEnvelope' }
        '412': { $ref: '#/components/responses/Error' }
    delete:
      operationId: deleteContent
      summary: Delete content
      description: Immediately hard deletes a never-published and never-manifested draft. Deleting a published or manifest-backed History or Video child stages pending removal for the next About or Home group publication and still returns 204.
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:write']
      parameters:
        - $ref: '#/components/parameters/ContentModule'
        - $ref: '#/components/parameters/ContentID'
        - $ref: '#/components/parameters/IfMatch'
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '204': { description: Draft deleted immediately or group child staged for pending removal }
        '405': { $ref: '#/components/responses/Error' }
        '409': { $ref: '#/components/responses/Error' }
        '412': { $ref: '#/components/responses/Error' }
  /admin/content/{module}/{contentId}/translation-previews/{targetLocale}:
    post:
      operationId: previewContentTranslation
      summary: Preview content translation
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:write']
      parameters:
        - $ref: '#/components/parameters/TranslatableContentModule'
        - $ref: '#/components/parameters/ContentID'
        - $ref: '#/components/parameters/ContentTranslationTargetLocale'
        - $ref: '#/components/parameters/IfMatch'
      requestBody: { $ref: '#/components/requestBodies/TranslationPreviewInput' }
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '200': { $ref: '#/components/responses/ContentTranslationPreview' }
        '400': { $ref: '#/components/responses/InvalidTranslationRequest' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '404': { $ref: '#/components/responses/TranslationNotFound' }
        '409': { $ref: '#/components/responses/TranslationExists' }
        '412': { $ref: '#/components/responses/TranslationVersionMismatch' }
        '422': { $ref: '#/components/responses/TranslationContentFiltered' }
        '429': { $ref: '#/components/responses/TranslationRateLimited' }
        '500': { $ref: '#/components/responses/Error' }
        '502': { $ref: '#/components/responses/TranslationProviderError' }
        '503': { $ref: '#/components/responses/TranslationDisabled' }
        '504': { $ref: '#/components/responses/TranslationTimeout' }
  /admin/content/{module}/{contentId}/publish:
    post:
      operationId: publishContent
      summary: Publish content
      description: Publishes ordinary content directly. Publishing the Home or About Page is a group operation that atomically publishes its Video or History children; direct child publication returns 405.
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:publish']
      parameters:
        - $ref: '#/components/parameters/PublicationContentModule'
        - $ref: '#/components/parameters/ContentID'
        - $ref: '#/components/parameters/IfMatch'
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '200': { $ref: '#/components/responses/ContentItem' }
        '405': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
  /admin/content/{module}/{contentId}/unpublish:
    post:
      operationId: unpublishContent
      summary: Unpublish content
      description: Unpublishes ordinary content directly. Unpublishing the Home or About Page is a group operation that atomically removes its Video or History projections; direct child unpublication returns 405.
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:publish']
      parameters:
        - $ref: '#/components/parameters/PublicationContentModule'
        - $ref: '#/components/parameters/ContentID'
        - $ref: '#/components/parameters/IfMatch'
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '200': { $ref: '#/components/responses/ContentItem' }
        '405': { $ref: '#/components/responses/Error' }
  /admin/content/{module}/{contentId}/revisions:
    get:
      operationId: listContentRevisions
      summary: List content revisions
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:read']
      parameters:
        - $ref: '#/components/parameters/ContentModule'
        - $ref: '#/components/parameters/ContentID'
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '200':
          description: Content revisions
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ContentRevisionListEnvelope' }
  /admin/content/{module}/{contentId}/revisions/{revision}/restore:
    post:
      operationId: restoreContentRevision
      summary: Restore content revision
      description: Restores ordinary content as a draft. Restoring a Home or About Page is a group operation that restores included Video or History snapshots as drafts, marks removed or absent children pending removal, and leaves live projections unchanged; direct child restore returns 405.
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:write']
      parameters:
        - $ref: '#/components/parameters/PublicationContentModule'
        - $ref: '#/components/parameters/ContentID'
        - $ref: '#/components/parameters/Revision'
        - $ref: '#/components/parameters/IfMatch'
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '200': { $ref: '#/components/responses/ContentItem' }
        '405': { $ref: '#/components/responses/Error' }
  /admin/content/news/{contentId}/upload-sessions:
    post:
      operationId: createNewsCoverUpload
      summary: Create news cover upload
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:write', 'assets:write']
      parameters:
        - $ref: '#/components/parameters/ContentID'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateImageUploadInput' }
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '201':
          description: News cover upload target
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CreatedUploadEnvelope' }
  /admin/content/news/{contentId}/assets/{assetId}:
    get:
      operationId: getNewsCoverStatus
      summary: Get news cover status
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:read']
      parameters:
        - $ref: '#/components/parameters/ContentID'
        - { name: assetId, in: path, required: true, schema: { type: string } }
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '200':
          description: News cover scan and processing status
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AssetStatusEnvelope' }
  /admin/content/news/{contentId}/assets/{assetId}/scan/retry:
    post:
      operationId: retryNewsCoverScan
      summary: Retry news cover scan
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:write', 'assets:write']
      parameters:
        - { name: contentId, in: path, required: true, schema: { type: string } }
        - { name: assetId, in: path, required: true, schema: { type: string } }
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '200':
          description: News cover scan requeued
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AssetStatusEnvelope' }
        '409': { $ref: '#/components/responses/Error' }
  /admin/content/news/{contentId}/assets/{assetId}/complete:
    post:
      operationId: completeNewsCoverUpload
      summary: Complete news cover upload
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:write', 'assets:write']
      parameters:
        - $ref: '#/components/parameters/ContentID'
        - { name: assetId, in: path, required: true, schema: { type: string } }
        - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CompleteImageUploadInput' }
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '200': { $ref: '#/components/responses/ContentItem' }
  /admin/content/pages/{contentId}/upload-sessions:
    post:
      operationId: createHomeBannerUpload
      summary: Create an exact Home Banner JPEG upload
      description: Only the fixed home.v2 page is accepted. The asset uses namespace cms.home.banner, owner service hhc-web-api, owner type page, and purpose home_banner.
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:write', 'assets:write']
      parameters:
        - $ref: '#/components/parameters/ContentID'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/HomeBannerUploadInput' }
      responses:
        '201':
          description: Home Banner upload target
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CreatedUploadEnvelope' }
        '400': { $ref: '#/components/responses/Error' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '503': { $ref: '#/components/responses/Error' }
  /admin/content/pages/{contentId}/assets/{assetId}:
    get:
      operationId: getHomeBannerStatus
      summary: Get the owned Home Banner status
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:read']
      parameters:
        - $ref: '#/components/parameters/ContentID'
        - { name: assetId, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: Home Banner scan status after exact namespace, owner, and purpose validation
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AssetStatusEnvelope' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '404': { $ref: '#/components/responses/Error' }
        '503': { $ref: '#/components/responses/Error' }
  /admin/content/pages/{contentId}/assets/{assetId}/scan/retry:
    post:
      operationId: retryHomeBannerScan
      summary: Retry a failed owned Home Banner scan
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:write', 'assets:write']
      parameters:
        - $ref: '#/components/parameters/ContentID'
        - { name: assetId, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: Home Banner scan requeued
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AssetStatusEnvelope' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '404': { $ref: '#/components/responses/Error' }
        '409': { $ref: '#/components/responses/Error' }
        '503': { $ref: '#/components/responses/Error' }
  /admin/content/pages/{contentId}/assets/{assetId}/complete:
    post:
      operationId: completeHomeBannerUpload
      summary: Complete and attach an exact Home Banner JPEG
      description: Revalidates asset ID, namespace, owner, purpose, detected image/jpeg, completed upload, and not_required processing before attaching the Banner to the draft. Scan readiness remains asynchronous.
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:write', 'assets:write']
      parameters:
        - $ref: '#/components/parameters/ContentID'
        - { name: assetId, in: path, required: true, schema: { type: string } }
        - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/HomeBannerCompleteInput' }
      responses:
        '200': { $ref: '#/components/responses/ContentItem' }
        '400': { $ref: '#/components/responses/Error' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '409': { $ref: '#/components/responses/Error' }
        '412': { $ref: '#/components/responses/Error' }
        '428': { $ref: '#/components/responses/Error' }
        '503': { $ref: '#/components/responses/Error' }
components:
  securitySchemes:
    daprApiToken:
      type: apiKey
      in: header
      name: dapr-api-token
      description: Dapr API token supplied by api-gateway; the value is never published in this contract.
    daprCallerAppId:
      type: apiKey
      in: header
      name: Dapr-Caller-App-Id
      description: Must identify the configured api-gateway Dapr application.
    trustedUserId:
      type: apiKey
      in: header
      name: X-HHC-User-ID
      description: Sanitized Account user identifier injected by api-gateway.
    trustedAuthProvider:
      type: apiKey
      in: header
      name: X-HHC-Auth-Provider
      description: Must be account-api.
    trustedScopes:
      type: apiKey
      in: header
      name: X-HHC-Scopes
      description: Sanitized Account scopes injected by api-gateway and enforced per operation.
  parameters:
    ContentLocale: { name: locale, in: query, schema: { $ref: '#/components/schemas/ContentLocale' } }
    BulletinEdition: { name: locale, in: query, schema: { $ref: '#/components/schemas/BulletinEdition' } }
    Page: { name: page, in: query, schema: { type: integer, minimum: 1, maximum: 10000, default: 1 } }
    PageSize: { name: pageSize, in: query, schema: { type: integer, minimum: 1, maximum: 100, default: 20 } }
    PerPage: { name: perPage, in: query, schema: { type: integer, minimum: 1, maximum: 100, default: 20 } }
    SearchQuery:
      name: q
      in: query
      description: Searches the internal campaign name and localized subject or body.
      schema: { type: string, maxLength: 120 }
    IssueID: { name: issueId, in: path, required: true, schema: { type: string, format: uuid } }
    IdempotencyKey: { name: Idempotency-Key, in: header, required: true, schema: { type: string, minLength: 1 } }
    IfMatch: { name: If-Match, in: header, required: true, schema: { type: string, pattern: '^"[1-9][0-9]*"$' } }
    IfNoneMatch:
      name: If-None-Match
      in: header
      description: Conditional validator; weak validators and comma-separated lists are accepted.
      schema: { type: string }
    ContentModule: { name: module, in: path, required: true, schema: { $ref: '#/components/schemas/ContentModule' } }
    PublicationContentModule: { name: module, in: path, required: true, schema: { $ref: '#/components/schemas/PublicationContentModule' } }
    CreatableContentModule: { name: module, in: path, required: true, schema: { $ref: '#/components/schemas/CreatableContentModule' } }
    TranslatableContentModule: { name: module, in: path, required: true, schema: { $ref: '#/components/schemas/TranslatableContentModule' } }
    PageKey: { name: pageKey, in: path, required: true, schema: { type: string, enum: [home, about, privacy-policy, terms-of-use] } }
    ContentID: { name: contentId, in: path, required: true, schema: { type: string, format: uuid } }
    ContentTranslationTargetLocale: { name: targetLocale, in: path, required: true, schema: { $ref: '#/components/schemas/ContentTranslationTargetLocale' } }
    BulletinTranslationTargetEdition: { name: targetLocale, in: path, required: true, schema: { $ref: '#/components/schemas/BulletinTranslationTargetEdition' } }
    CampaignTranslationTargetLocale: { name: targetLocale, in: path, required: true, schema: { $ref: '#/components/schemas/CampaignTranslationTargetLocale' } }
    Revision: { name: revision, in: path, required: true, schema: { type: integer, format: int64, minimum: 1 } }
    MeetingKey: { name: meetingKey, in: path, required: true, schema: { type: string, pattern: '^[a-z0-9]+(?:-[a-z0-9]+)*$' } }
    OperationsID: { name: id, in: path, required: true, schema: { type: string, format: uuid } }
    StatusAction: { name: action, in: path, required: true, schema: { type: string, enum: [pause, resume, archive, restore] } }
    OccurrenceDate: { name: occurrenceDate, in: path, required: true, schema: { type: string, format: date } }
    IncludeArchived: { name: includeArchived, in: query, schema: { type: boolean, default: false } }
    RangeFrom: { name: from, in: query, schema: { type: string, format: date-time }, description: Inclusive range start; defaults to now. }
    RangeTo: { name: to, in: query, schema: { type: string, format: date-time }, description: Exclusive range end; defaults to 30 days after from and cannot exceed 90 days. }
  requestBodies:
    ChurchUnitInput:
      required: true
      content: { application/json: { schema: { $ref: '#/components/schemas/ChurchUnitInput' } } }
    OperationsResourceInput:
      required: true
      content: { application/json: { schema: { $ref: '#/components/schemas/OperationsResourceInput' } } }
    MeetingInput:
      required: true
      content: { application/json: { schema: { $ref: '#/components/schemas/MeetingInput' } } }
    MeetingOccurrenceOverrideInput:
      required: true
      content: { application/json: { schema: { $ref: '#/components/schemas/MeetingOccurrenceOverrideInput' } } }
    MeetingCollectionBindings:
      required: true
      content: { application/json: { schema: { $ref: '#/components/schemas/MeetingCollectionBindings' } } }
    PublicationInput:
      required: true
      content:
        application/json:
          schema: { $ref: '#/components/schemas/PublicationInput' }
    ContentWriteInput:
      required: true
      content:
        application/json:
          schema:
            anyOf:
              - $ref: '#/components/schemas/ContentWriteInput'
              - $ref: '#/components/schemas/HomePageWriteInputV2'
    TranslationPreviewInput:
      required: true
      content:
        application/json:
          schema: { $ref: '#/components/schemas/TranslationPreviewInput' }
  responses:
    PublicMeetingList:
      description: Public meeting list; no internal IDs, bindings, or audit fields.
      headers: { ETag: { schema: { type: string } }, Cache-Control: { schema: { type: string, const: 'public, max-age=30' } } }
      content: { application/json: { schema: { $ref: '#/components/schemas/PublicMeetingListEnvelope' } } }
    PublicMeeting:
      description: Public meeting; no internal IDs, bindings, or audit fields.
      headers: { ETag: { schema: { type: string } }, Cache-Control: { schema: { type: string, const: 'public, max-age=30' } } }
      content: { application/json: { schema: { $ref: '#/components/schemas/PublicMeetingEnvelope' } } }
    PublicMeetingOccurrenceList:
      description: Public meeting occurrences including cancelled occurrences.
      headers: { ETag: { schema: { type: string } }, Cache-Control: { schema: { type: string, const: 'public, max-age=30' } } }
      content: { application/json: { schema: { $ref: '#/components/schemas/PublicMeetingOccurrenceListEnvelope' } } }
    MeetingNotModified:
      description: The public meeting projection has not changed.
      headers: { ETag: { schema: { type: string } }, Cache-Control: { schema: { type: string, const: 'public, max-age=30' } } }
    MediaSyncWindowList:
      description: Redacted media sync windows.
[...]
