openapi: 3.1.0
info:
  title: HHC Web API
  version: 0.2.0
  description: |-
    Website API owns CMS records and publication state; asset-api owns file bytes, scanning, derivatives, and grants.
    Campaign routes are authorization-preserving proxies to engagement-api, which owns campaign and consent state.
tags:
  - name: Public
    description: Published website projections exposed through api-gateway.
  - name: Admin
    description: CMS administration exposed through api-gateway and authorized by trusted Account identity headers.
  - name: Operations
    description: Direct service health and readiness endpoints used by platform probes.
x-hhc-service: hhc-web-api
x-hhc-owner: HHC Platform
x-hhc-repository: HallelujahHomeChurch/hhc-web-api
servers:
  - url: https://www.alive.org.tw/api
    description: Public and admin gateway surface; api-gateway validates browser JWTs and injects trusted identity headers.
paths:
  /health:
    get:
      operationId: getHealth
      summary: Get health
      tags: [Operations]
      x-hhc-visibility: operations
      x-hhc-callers: []
      security: []
      servers: [{ url: / }]
      responses:
        '200': { $ref: '#/components/responses/Health' }
  /health/live:
    get:
      operationId: getLiveness
      summary: Get liveness
      tags: [Operations]
      x-hhc-visibility: operations
      x-hhc-callers: []
      security: []
      servers: [{ url: / }]
      responses:
        '200': { $ref: '#/components/responses/Health' }
  /ready:
    get:
      operationId: getReadiness
      summary: Get readiness
      tags: [Operations]
      x-hhc-visibility: operations
      x-hhc-callers: []
      security: []
      servers: [{ url: / }]
      responses:
        '200': { $ref: '#/components/responses/Health' }
        '503': { $ref: '#/components/responses/Error' }
  /health/ready:
    get:
      operationId: getHealthReadiness
      summary: Get health readiness
      tags: [Operations]
      x-hhc-visibility: operations
      x-hhc-callers: []
      security: []
      servers: [{ url: / }]
      responses:
        '200': { $ref: '#/components/responses/Health' }
        '503': { $ref: '#/components/responses/Error' }
  /admin/campaigns:
    get:
      operationId: listCampaigns
      summary: List campaigns
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-any-scopes: ['campaigns:read', 'cms:read']
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/SearchQuery'
      responses:
        '200': { $ref: '#/components/responses/CampaignPage' }
        '400': { $ref: '#/components/responses/EngagementError' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '500': { $ref: '#/components/responses/EngagementError' }
        '503': { $ref: '#/components/responses/EngagementUnavailable' }
    post:
      operationId: createCampaign
      summary: Create campaign
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-any-scopes: ['campaigns:write', 'cms:write']
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateCampaign' }
      responses:
        '201': { $ref: '#/components/responses/Campaign' }
        '400': { $ref: '#/components/responses/EngagementError' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '409': { $ref: '#/components/responses/EngagementError' }
        '500': { $ref: '#/components/responses/EngagementError' }
        '503': { $ref: '#/components/responses/EngagementUnavailable' }
  /admin/campaigns/{campaignId}:
    parameters:
      - { name: campaignId, in: path, required: true, schema: { type: string, format: uuid } }
    get:
      operationId: getCampaign
      summary: Get campaign
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-any-scopes: ['campaigns:read', 'cms:read']
      responses:
        '200': { $ref: '#/components/responses/Campaign' }
        '400': { $ref: '#/components/responses/EngagementError' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '404': { $ref: '#/components/responses/EngagementError' }
        '500': { $ref: '#/components/responses/EngagementError' }
        '503': { $ref: '#/components/responses/EngagementUnavailable' }
    put:
      operationId: updateCampaign
      summary: Update campaign
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-any-scopes: ['campaigns:write', 'cms:write']
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateCampaign' }
      responses:
        '200': { $ref: '#/components/responses/Campaign' }
        '400': { $ref: '#/components/responses/EngagementError' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '409': { $ref: '#/components/responses/EngagementError' }
        '500': { $ref: '#/components/responses/EngagementError' }
        '503': { $ref: '#/components/responses/EngagementUnavailable' }
    delete:
      operationId: deleteCampaign
      summary: Delete campaign
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-any-scopes: ['campaigns:write', 'cms:write']
      responses:
        '204': { description: Campaign draft deleted }
        '400': { $ref: '#/components/responses/EngagementError' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '409': { $ref: '#/components/responses/EngagementError' }
        '500': { $ref: '#/components/responses/EngagementError' }
        '503': { $ref: '#/components/responses/EngagementUnavailable' }
  /admin/campaigns/{campaignId}/send:
    post:
      operationId: sendCampaign
      summary: Send campaign
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-any-scopes: ['campaigns:send', 'cms:write']
      parameters:
        - { name: campaignId, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200': { $ref: '#/components/responses/Campaign' }
        '400': { $ref: '#/components/responses/EngagementError' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '404': { $ref: '#/components/responses/EngagementError' }
        '409': { $ref: '#/components/responses/EngagementError' }
        '500': { $ref: '#/components/responses/EngagementError' }
        '503': { $ref: '#/components/responses/EngagementUnavailable' }
  /admin/campaigns/{campaignId}/translation-previews/{targetLocale}:
    post:
      operationId: previewCampaignTranslation
      summary: Preview campaign translation
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-any-scopes: ['campaigns:write', 'cms:write']
      parameters:
        - { name: campaignId, in: path, required: true, schema: { type: string, format: uuid } }
        - $ref: '#/components/parameters/CampaignTranslationTargetLocale'
        - $ref: '#/components/parameters/IfMatch'
      requestBody: { $ref: '#/components/requestBodies/TranslationPreviewInput' }
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '200': { $ref: '#/components/responses/CampaignTranslationPreview' }
        '400': { $ref: '#/components/responses/InvalidTranslationRequest' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '404': { $ref: '#/components/responses/TranslationNotFound' }
        '409': { $ref: '#/components/responses/TranslationExists' }
        '412': { $ref: '#/components/responses/TranslationVersionMismatch' }
        '422': { $ref: '#/components/responses/TranslationContentFiltered' }
        '429': { $ref: '#/components/responses/TranslationRateLimited' }
        '500': { $ref: '#/components/responses/Error' }
        '502': { $ref: '#/components/responses/TranslationProviderError' }
        '503': { $ref: '#/components/responses/TranslationDisabled' }
        '504': { $ref: '#/components/responses/TranslationTimeout' }
  /admin/campaigns/{campaignId}/deliveries:
    get:
      operationId: listCampaignDeliveries
      summary: List campaign deliveries
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-any-scopes: ['campaigns:read', 'cms:read']
      parameters:
        - { name: campaignId, in: path, required: true, schema: { type: string, format: uuid } }
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
      responses:
        '200': { $ref: '#/components/responses/CampaignDeliveryPage' }
        '400': { $ref: '#/components/responses/EngagementError' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '404': { $ref: '#/components/responses/EngagementError' }
        '500': { $ref: '#/components/responses/EngagementError' }
        '503': { $ref: '#/components/responses/EngagementUnavailable' }
  /admin/campaigns/{campaignId}/retry-failed:
    post:
      operationId: retryFailedCampaignDeliveries
      summary: Retry failed campaign deliveries
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-any-scopes: ['campaigns:send', 'cms:write']
      parameters:
        - { name: campaignId, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200': { $ref: '#/components/responses/Campaign' }
        '400': { $ref: '#/components/responses/EngagementError' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '404': { $ref: '#/components/responses/EngagementError' }
        '409': { $ref: '#/components/responses/EngagementError' }
        '500': { $ref: '#/components/responses/EngagementError' }
        '503': { $ref: '#/components/responses/EngagementUnavailable' }
  /admin/campaign-schedules:
    get:
      operationId: listCampaignSchedules
      summary: List campaign schedules
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-any-scopes: ['campaigns:read', 'cms:read']
      responses:
        '200': { $ref: '#/components/responses/CampaignScheduleList' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '500': { $ref: '#/components/responses/EngagementError' }
        '503': { $ref: '#/components/responses/EngagementUnavailable' }
    post:
      operationId: createCampaignSchedule
      summary: Create campaign schedule
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scope-sets: [['campaigns:write', 'campaigns:send'], ['cms:write']]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateCampaignSchedule' }
      responses:
        '201': { $ref: '#/components/responses/CampaignSchedule' }
        '400': { $ref: '#/components/responses/EngagementError' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '500': { $ref: '#/components/responses/EngagementError' }
        '503': { $ref: '#/components/responses/EngagementUnavailable' }
  /admin/campaign-schedules/{scheduleId}:
    parameters:
      - { name: scheduleId, in: path, required: true, schema: { type: string, format: uuid } }
    get:
      operationId: getCampaignSchedule
      summary: Get campaign schedule
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-any-scopes: ['campaigns:read', 'cms:read']
      responses:
        '200': { $ref: '#/components/responses/CampaignSchedule' }
        '400': { $ref: '#/components/responses/EngagementError' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '404': { $ref: '#/components/responses/EngagementError' }
        '500': { $ref: '#/components/responses/EngagementError' }
        '503': { $ref: '#/components/responses/EngagementUnavailable' }
    put:
      operationId: updateCampaignSchedule
      summary: Update campaign schedule
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-any-scopes: ['campaigns:write', 'cms:write']
      description: Enabling a schedule additionally requires campaigns:send; legacy cms:write remains accepted during role migration.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateCampaignSchedule' }
      responses:
        '200': { $ref: '#/components/responses/CampaignSchedule' }
        '400': { $ref: '#/components/responses/EngagementError' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '404': { $ref: '#/components/responses/EngagementError' }
        '500': { $ref: '#/components/responses/EngagementError' }
        '503': { $ref: '#/components/responses/EngagementUnavailable' }
    delete:
      operationId: deleteCampaignSchedule
      summary: Delete campaign schedule
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-any-scopes: ['campaigns:write', 'cms:write']
      responses:
        '204': { description: Campaign schedule deleted }
        '400': { $ref: '#/components/responses/EngagementError' }
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '404': { $ref: '#/components/responses/EngagementError' }
        '500': { $ref: '#/components/responses/EngagementError' }
        '503': { $ref: '#/components/responses/EngagementUnavailable' }
  /admin/campaign-schedules/{scheduleId}/translation-previews/{targetLocale}:
    post:
      operationId: previewCampaignScheduleTranslation
      summary: Preview campaign schedule translation
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-any-scopes: ['campaigns:write', 'cms:write']
      parameters:
        - { name: scheduleId, in: path, required: true, schema: { type: string, format: uuid } }
        - $ref: '#/components/parameters/CampaignTranslationTargetLocale'
        - $ref: '#/components/parameters/IfMatch'
      requestBody: { $ref: '#/components/requestBodies/TranslationPreviewInput' }
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '200': { $ref: '#/components/responses/CampaignTranslationPreview' }
        '400': { $ref: '#/components/responses/InvalidTranslationRequest' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '404': { $ref: '#/components/responses/TranslationNotFound' }
        '409': { $ref: '#/components/responses/TranslationExists' }
        '412': { $ref: '#/components/responses/TranslationVersionMismatch' }
        '422': { $ref: '#/components/responses/TranslationContentFiltered' }
        '429': { $ref: '#/components/responses/TranslationRateLimited' }
        '500': { $ref: '#/components/responses/Error' }
        '502': { $ref: '#/components/responses/TranslationProviderError' }
        '503': { $ref: '#/components/responses/TranslationDisabled' }
        '504': { $ref: '#/components/responses/TranslationTimeout' }
  /bulletins:
    get:
      operationId: listPublicBulletins
      summary: List public bulletins
      tags: [Public]
      x-hhc-visibility: public
      x-hhc-callers: [api-gateway]
      security: []
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Published bulletin page
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PublicBulletinListEnvelope' }
  /bulletins/latest:
    get:
      operationId: getLatestPublicBulletin
      summary: Get latest public bulletin
      tags: [Public]
      x-hhc-visibility: public
      x-hhc-callers: [api-gateway]
      security: []
      parameters: [{ $ref: '#/components/parameters/BulletinEdition' }]
      responses:
        '200': { $ref: '#/components/responses/PublicBulletin' }
        '404': { $ref: '#/components/responses/Error' }
  /bulletins/by-number/{issueNumber}:
    get:
      operationId: getPublicBulletinByNumber
      summary: Get public bulletin by number
      tags: [Public]
      x-hhc-visibility: public
      x-hhc-callers: [api-gateway]
      security: []
      parameters:
        - { name: issueNumber, in: path, required: true, schema: { type: integer, format: int32, minimum: 1, maximum: 2147483647 } }
        - $ref: '#/components/parameters/BulletinEdition'
      responses:
        '200': { $ref: '#/components/responses/PublicBulletin' }
        '400': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
  /bulletins/{issueDate}:
    get:
      operationId: getPublicBulletinByDate
      summary: Get public bulletin by date
      tags: [Public]
      x-hhc-visibility: public
      x-hhc-callers: [api-gateway]
      security: []
      parameters:
        - { name: issueDate, in: path, required: true, schema: { type: string, format: date } }
        - $ref: '#/components/parameters/BulletinEdition'
      responses:
        '200': { $ref: '#/components/responses/PublicBulletin' }
        '404': { $ref: '#/components/responses/Error' }
  /news:
    get:
      operationId: listPublicNews
      summary: List public news
      tags: [Public]
      x-hhc-visibility: public
      x-hhc-callers: [api-gateway]
      security: []
      parameters:
        - $ref: '#/components/parameters/ContentLocale'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses: { '200': { $ref: '#/components/responses/PublicContentList' } }
  /news/{slug}:
    get:
      operationId: getPublicNews
      summary: Get public news
      tags: [Public]
      x-hhc-visibility: public
      x-hhc-callers: [api-gateway]
      security: []
      parameters:
        - { name: slug, in: path, required: true, schema: { type: string, minLength: 1, maxLength: 120, pattern: '^[a-z0-9]+(?:-[a-z0-9]+)*$' } }
        - $ref: '#/components/parameters/ContentLocale'
        - { name: If-None-Match, in: header, schema: { type: string } }
      responses:
        '200': { $ref: '#/components/responses/PublicContentItem' }
        '304': { description: Content has not changed }
        '404': { $ref: '#/components/responses/Error' }
  /history:
    get:
      operationId: listPublicHistory
      summary: List public history
      tags: [Public]
      x-hhc-visibility: public
      x-hhc-callers: [api-gateway]
      security: []
      parameters:
        - $ref: '#/components/parameters/ContentLocale'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses: { '200': { $ref: '#/components/responses/PublicContentList' } }
  /videos:
    get:
      operationId: listPublicVideos
      summary: List public videos
      tags: [Public]
      x-hhc-visibility: public
      x-hhc-callers: [api-gateway]
      security: []
      parameters:
        - $ref: '#/components/parameters/ContentLocale'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses: { '200': { $ref: '#/components/responses/PublicContentList' } }
  /locations:
    get:
      operationId: listPublicLocations
      summary: List published locations for one locale
      description: Reads only the requested published locale; no locale fallback is applied.
      tags: [Public]
      x-hhc-visibility: public
      x-hhc-callers: [api-gateway]
      security: []
      parameters: [{ $ref: '#/components/parameters/ContentLocale' }]
      responses:
        '200': { $ref: '#/components/responses/PublicLocationList' }
        '400': { $ref: '#/components/responses/Error' }
  /site-layout:
    get:
      operationId: getPublicSiteLayout
      summary: Get the published site layout for one exact locale
      tags: [Public]
      x-hhc-visibility: public
      x-hhc-callers: [api-gateway]
      security: []
      parameters: [{ $ref: '#/components/parameters/ContentLocale' }]
      responses:
        '200': { $ref: '#/components/responses/SiteLayout' }
        '404': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
  /home:
    get:
      operationId: getPublicHome
      summary: Get public home
      tags: [Public]
      x-hhc-visibility: public
      x-hhc-callers: [api-gateway]
      security: []
      parameters: [{ $ref: '#/components/parameters/ContentLocale' }]
      responses:
        '200':
          description: Published home page projection
          content:
            application/json:
              schema: { $ref: '#/components/schemas/HomeEnvelope' }
  /admin/site-settings:
    get:
      operationId: getSiteSettings
      summary: Get the Site Settings draft aggregate
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:read']
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '404': { $ref: '#/components/responses/Error' }
        '200': { $ref: '#/components/responses/SiteSettings' }
    put:
      operationId: saveSiteSettings
      summary: Save the Site Settings aggregate as a draft
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:write']
      parameters: [{ $ref: '#/components/parameters/IfMatch' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SiteSettingsWriteInput' }
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '200': { $ref: '#/components/responses/SiteSettings' }
        '400': { $ref: '#/components/responses/Error' }
        '409': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
        '428': { $ref: '#/components/responses/Error' }
  /admin/site-settings/publish:
    post:
      operationId: publishSiteSettings
      summary: Publish all five Site Layout projections atomically
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:publish']
      parameters: [{ $ref: '#/components/parameters/IfMatch' }]
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '200': { $ref: '#/components/responses/SiteSettings' }
        '409': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
        '428': { $ref: '#/components/responses/Error' }
  /admin/site-settings/unpublish:
    post:
      operationId: unpublishSiteSettings
      summary: Unpublish all Site Layout projections atomically
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:publish']
      parameters: [{ $ref: '#/components/parameters/IfMatch' }]
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '200': { $ref: '#/components/responses/SiteSettings' }
        '409': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
        '428': { $ref: '#/components/responses/Error' }
  /admin/site-settings/revisions:
    get:
      operationId: listSiteSettingsRevisions
      summary: List Site Settings revisions
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:read']
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '200': { $ref: '#/components/responses/SiteSettingsRevisionList' }
  /admin/site-settings/revisions/{revision}/restore:
    post:
      operationId: restoreSiteSettingsRevision
      summary: Restore a Site Settings revision to a draft
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:write']
      parameters:
        - $ref: '#/components/parameters/Revision'
        - $ref: '#/components/parameters/IfMatch'
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '200': { $ref: '#/components/responses/SiteSettings' }
        '404': { $ref: '#/components/responses/Error' }
        '409': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
        '428': { $ref: '#/components/responses/Error' }
  /admin/bulletins:
    get:
      operationId: listAdminBulletins
      summary: List admin bulletins
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:read']
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - name: status
          in: query
          schema: { $ref: '#/components/schemas/BulletinStatus' }
        - name: q
          in: query
          schema: { type: string, maxLength: 200 }
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '200':
          description: CMS bulletin list
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BulletinListEnvelope' }
    post:
      operationId: createBulletinIssue
      summary: Create bulletin issue
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:write']
      parameters: [{ $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateBulletinInput' }
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '201': { $ref: '#/components/responses/BulletinIssue' }
        '409': { $ref: '#/components/responses/Error' }
  /admin/bulletins/{issueId}:
    get:
      operationId: getAdminBulletin
      summary: Get admin bulletin
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:read']
      parameters: [{ $ref: '#/components/parameters/IssueID' }]
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '200': { $ref: '#/components/responses/BulletinIssue' }
        '404': { $ref: '#/components/responses/Error' }
    put:
      operationId: updateBulletinIssue
      summary: Update bulletin issue
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:write']
      parameters:
        - $ref: '#/components/parameters/IssueID'
        - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateBulletinInput' }
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '200': { $ref: '#/components/responses/BulletinIssue' }
        '409': { $ref: '#/components/responses/Error' }
        '412': { $ref: '#/components/responses/Error' }
    delete:
      operationId: deleteBulletin
      summary: Delete bulletin
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:write']
      parameters:
        - $ref: '#/components/parameters/IssueID'
        - $ref: '#/components/parameters/IfMatch'
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '204': { description: Bulletin and its revisions deleted }
        '409': { $ref: '#/components/responses/Error' }
        '412': { $ref: '#/components/responses/Error' }
  /admin/bulletins/{issueId}/upload-sessions:
    post:
      operationId: createBulletinUploadSession
      summary: Create bulletin upload session
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:write', 'assets:write']
      parameters:
        - $ref: '#/components/parameters/IssueID'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateBulletinUploadInput' }
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '201':
          description: Short-lived asset upload target created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CreatedUploadEnvelope' }
  /admin/bulletins/{issueId}/versions/{locale}:
    put:
      operationId: updateBulletinVersion
      summary: Update bulletin version
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:write']
      parameters:
        - $ref: '#/components/parameters/IssueID'
        - { name: locale, in: path, required: true, schema: { $ref: '#/components/schemas/BulletinEdition' } }
        - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateBulletinVersionInput' }
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '200': { $ref: '#/components/responses/BulletinIssue' }
        '409': { $ref: '#/components/responses/Error' }
        '412': { $ref: '#/components/responses/Error' }
    delete:
      operationId: deleteBulletinVersion
      summary: Delete bulletin version
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:write']
      parameters:
        - $ref: '#/components/parameters/IssueID'
        - { name: locale, in: path, required: true, schema: { $ref: '#/components/schemas/BulletinEdition' } }
        - $ref: '#/components/parameters/IfMatch'
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '200': { $ref: '#/components/responses/BulletinIssue' }
        '404': { $ref: '#/components/responses/Error' }
        '409': { $ref: '#/components/responses/Error' }
        '412': { $ref: '#/components/responses/Error' }
  /admin/bulletins/{issueId}/assets/{assetId}:
    get:
      operationId: getBulletinAssetStatus
      summary: Get bulletin asset status
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:read']
      parameters:
        - $ref: '#/components/parameters/IssueID'
        - { name: assetId, in: path, required: true, schema: { type: string } }
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '200':
          description: Bulletin PDF scan status
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AssetStatusEnvelope' }
        '404': { $ref: '#/components/responses/Error' }
  /admin/bulletins/{issueId}/assets/{assetId}/scan/retry:
    post:
      operationId: retryBulletinAssetScan
      summary: Retry bulletin asset scan
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:write', 'assets:write']
      parameters:
        - $ref: '#/components/parameters/IssueID'
        - { name: assetId, in: path, required: true, schema: { type: string } }
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '200':
          description: Bulletin PDF scan requeued
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AssetStatusEnvelope' }
        '409': { $ref: '#/components/responses/Error' }
  /admin/bulletins/{issueId}/assets/{assetId}/complete:
    post:
      operationId: completeBulletinUpload
      summary: Complete bulletin upload
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:write', 'assets:write']
      parameters:
        - $ref: '#/components/parameters/IssueID'
        - { name: assetId, in: path, required: true, schema: { type: string } }
        - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CompleteBulletinUploadInput' }
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '200': { $ref: '#/components/responses/BulletinIssue' }
        '412': { $ref: '#/components/responses/Error' }
  /admin/bulletins/{issueId}/publish:
    post:
      operationId: publishBulletin
      summary: Publish bulletin
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:publish']
      parameters:
        - $ref: '#/components/parameters/IssueID'
        - $ref: '#/components/parameters/IfMatch'
      requestBody: { $ref: '#/components/requestBodies/PublicationInput' }
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '202':
          description: Publication workflow accepted
          content:
            application/json:
              schema: { $ref: '#/components/schemas/WorkflowEnvelope' }
        '422': { $ref: '#/components/responses/Error' }
  /admin/bulletins/{issueId}/unpublish:
    post:
      operationId: unpublishBulletin
      summary: Unpublish bulletin
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:publish']
      parameters:
        - $ref: '#/components/parameters/IssueID'
        - $ref: '#/components/parameters/IfMatch'
      requestBody: { $ref: '#/components/requestBodies/PublicationInput' }
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '200': { $ref: '#/components/responses/BulletinIssue' }
        '412': { $ref: '#/components/responses/Error' }
  /admin/bulletins/{issueId}/revisions:
    get:
      operationId: listBulletinRevisions
      summary: List bulletin revisions
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:read']
      parameters: [{ $ref: '#/components/parameters/IssueID' }]
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '200':
          description: Bulletin revisions
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BulletinRevisionListEnvelope' }
  /admin/bulletins/{issueId}/revisions/{revision}/restore:
    post:
      operationId: restoreBulletinRevision
      summary: Restore bulletin revision
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:write']
      parameters:
        - $ref: '#/components/parameters/IssueID'
        - $ref: '#/components/parameters/Revision'
        - $ref: '#/components/parameters/IfMatch'
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '200': { $ref: '#/components/responses/BulletinIssue' }
        '404': { $ref: '#/components/responses/Error' }
        '412': { $ref: '#/components/responses/Error' }
  /admin/bulletins/{issueId}/translation-previews/{targetLocale}:
    post:
      operationId: previewBulletinTranslation
      summary: Preview bulletin translation
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:write']
      parameters:
        - $ref: '#/components/parameters/IssueID'
        - $ref: '#/components/parameters/BulletinTranslationTargetEdition'
        - $ref: '#/components/parameters/IfMatch'
      requestBody: { $ref: '#/components/requestBodies/TranslationPreviewInput' }
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '200': { $ref: '#/components/responses/BulletinTranslationPreview' }
        '400': { $ref: '#/components/responses/InvalidTranslationRequest' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '404': { $ref: '#/components/responses/TranslationNotFound' }
        '409': { $ref: '#/components/responses/TranslationExists' }
        '412': { $ref: '#/components/responses/TranslationVersionMismatch' }
        '422': { $ref: '#/components/responses/TranslationContentFiltered' }
        '429': { $ref: '#/components/responses/TranslationRateLimited' }
        '500': { $ref: '#/components/responses/Error' }
        '502': { $ref: '#/components/responses/TranslationProviderError' }
        '503': { $ref: '#/components/responses/TranslationDisabled' }
        '504': { $ref: '#/components/responses/TranslationTimeout' }
  /admin/content/{module}:
    get:
      operationId: listAdminContent
      summary: List admin content
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:read']
      parameters:
        - $ref: '#/components/parameters/ContentModule'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - { name: q, in: query, schema: { type: string, maxLength: 200 } }
        - { name: status, in: query, schema: { $ref: '#/components/schemas/ContentStatus' } }
        - { name: sort, in: query, schema: { type: string, enum: [updatedAt, displayDate, eventDate] } }
        - { name: direction, in: query, schema: { type: string, enum: [asc, desc] } }
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '200':
          description: Typed content list
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ContentListEnvelope' }
        '400': { $ref: '#/components/responses/Error' }
    post:
      operationId: createContent
      summary: Create content
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:write']
      parameters:
        - $ref: '#/components/parameters/ContentModule'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody: { $ref: '#/components/requestBodies/ContentWriteInput' }
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '201': { $ref: '#/components/responses/ContentItem' }
        '409': { $ref: '#/components/responses/Error' }
  /admin/content/{module}/{contentId}:
    get:
      operationId: getAdminContent
      summary: Get admin content
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:read']
      parameters:
        - $ref: '#/components/parameters/ContentModule'
        - $ref: '#/components/parameters/ContentID'
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '200': { $ref: '#/components/responses/ContentItem' }
        '404': { $ref: '#/components/responses/Error' }
    put:
      operationId: updateContent
      summary: Update content
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:write']
      parameters:
        - $ref: '#/components/parameters/ContentModule'
        - $ref: '#/components/parameters/ContentID'
        - $ref: '#/components/parameters/IfMatch'
      requestBody: { $ref: '#/components/requestBodies/ContentWriteInput' }
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '200': { $ref: '#/components/responses/ContentItem' }
        '409':
          description: Existing locales omitted from `translations` must be listed in `deleteLocales` (error code `locale_set_mismatch`).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorEnvelope' }
        '412': { $ref: '#/components/responses/Error' }
    delete:
      operationId: deleteContent
      summary: Delete content
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:write']
      parameters:
        - $ref: '#/components/parameters/ContentModule'
        - $ref: '#/components/parameters/ContentID'
        - $ref: '#/components/parameters/IfMatch'
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '204': { description: Content and its revisions deleted }
        '409': { $ref: '#/components/responses/Error' }
        '412': { $ref: '#/components/responses/Error' }
  /admin/content/{module}/{contentId}/translation-previews/{targetLocale}:
    post:
      operationId: previewContentTranslation
      summary: Preview content translation
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:write']
      parameters:
        - $ref: '#/components/parameters/ContentModule'
        - $ref: '#/components/parameters/ContentID'
        - $ref: '#/components/parameters/ContentTranslationTargetLocale'
        - $ref: '#/components/parameters/IfMatch'
      requestBody: { $ref: '#/components/requestBodies/TranslationPreviewInput' }
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '200': { $ref: '#/components/responses/ContentTranslationPreview' }
        '400': { $ref: '#/components/responses/InvalidTranslationRequest' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '404': { $ref: '#/components/responses/TranslationNotFound' }
        '409': { $ref: '#/components/responses/TranslationExists' }
        '412': { $ref: '#/components/responses/TranslationVersionMismatch' }
        '422': { $ref: '#/components/responses/TranslationContentFiltered' }
        '429': { $ref: '#/components/responses/TranslationRateLimited' }
        '500': { $ref: '#/components/responses/Error' }
        '502': { $ref: '#/components/responses/TranslationProviderError' }
        '503': { $ref: '#/components/responses/TranslationDisabled' }
        '504': { $ref: '#/components/responses/TranslationTimeout' }
  /admin/content/{module}/{contentId}/publish:
    post:
      operationId: publishContent
      summary: Publish content
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:publish']
      parameters:
        - $ref: '#/components/parameters/ContentModule'
        - $ref: '#/components/parameters/ContentID'
        - $ref: '#/components/parameters/IfMatch'
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '200': { $ref: '#/components/responses/ContentItem' }
        '422': { $ref: '#/components/responses/Error' }
  /admin/content/{module}/{contentId}/unpublish:
    post:
      operationId: unpublishContent
      summary: Unpublish content
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:publish']
      parameters:
        - $ref: '#/components/parameters/ContentModule'
        - $ref: '#/components/parameters/ContentID'
        - $ref: '#/components/parameters/IfMatch'
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '200': { $ref: '#/components/responses/ContentItem' }
  /admin/content/{module}/{contentId}/revisions:
    get:
      operationId: listContentRevisions
      summary: List content revisions
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:read']
      parameters:
        - $ref: '#/components/parameters/ContentModule'
        - $ref: '#/components/parameters/ContentID'
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '200':
          description: Content revisions
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ContentRevisionListEnvelope' }
  /admin/content/{module}/{contentId}/revisions/{revision}/restore:
    post:
      operationId: restoreContentRevision
      summary: Restore content revision
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:write']
      parameters:
        - $ref: '#/components/parameters/ContentModule'
        - $ref: '#/components/parameters/ContentID'
        - $ref: '#/components/parameters/Revision'
        - $ref: '#/components/parameters/IfMatch'
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '200': { $ref: '#/components/responses/ContentItem' }
  /admin/content/news/{contentId}/upload-sessions:
    post:
      operationId: createNewsCoverUpload
      summary: Create news cover upload
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:write', 'assets:write']
      parameters:
        - $ref: '#/components/parameters/ContentID'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateImageUploadInput' }
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '201':
          description: News cover upload target
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CreatedUploadEnvelope' }
  /admin/content/news/{contentId}/assets/{assetId}:
    get:
      operationId: getNewsCoverStatus
      summary: Get news cover status
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:read']
      parameters:
        - $ref: '#/components/parameters/ContentID'
        - { name: assetId, in: path, required: true, schema: { type: string } }
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '200':
          description: News cover scan and processing status
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AssetStatusEnvelope' }
  /admin/content/news/{contentId}/assets/{assetId}/scan/retry:
    post:
      operationId: retryNewsCoverScan
      summary: Retry news cover scan
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:write', 'assets:write']
      parameters:
        - { name: contentId, in: path, required: true, schema: { type: string } }
        - { name: assetId, in: path, required: true, schema: { type: string } }
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '200':
          description: News cover scan requeued
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AssetStatusEnvelope' }
        '409': { $ref: '#/components/responses/Error' }
  /admin/content/news/{contentId}/assets/{assetId}/complete:
    post:
      operationId: completeNewsCoverUpload
      summary: Complete news cover upload
      tags: [Admin]
      x-hhc-visibility: admin
      x-hhc-callers: [api-gateway]
      security: [{ daprApiToken: [], daprCallerAppId: [], trustedUserId: [], trustedAuthProvider: [], trustedScopes: [] }]
      servers: [{ url: https://admin.alive.org.tw/api }]
      x-required-scopes: ['cms:write', 'assets:write']
      parameters:
        - $ref: '#/components/parameters/ContentID'
        - { name: assetId, in: path, required: true, schema: { type: string } }
        - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CompleteImageUploadInput' }
      responses:
        '401': { $ref: '#/components/responses/AdminUnauthorized' }
        '403': { $ref: '#/components/responses/AdminForbidden' }
        '200': { $ref: '#/components/responses/ContentItem' }
components:
  securitySchemes:
    daprApiToken:
      type: apiKey
      in: header
      name: dapr-api-token
      description: Dapr API token supplied by api-gateway; the value is never published in this contract.
    daprCallerAppId:
      type: apiKey
      in: header
      name: Dapr-Caller-App-Id
      description: Must identify the configured api-gateway Dapr application.
    trustedUserId:
      type: apiKey
      in: header
      name: X-HHC-User-ID
      description: Sanitized Account user identifier injected by api-gateway.
    trustedAuthProvider:
      type: apiKey
      in: header
      name: X-HHC-Auth-Provider
      description: Must be account-api.
    trustedScopes:
      type: apiKey
      in: header
      name: X-HHC-Scopes
      description: Sanitized Account scopes injected by api-gateway and enforced per operation.
  parameters:
    ContentLocale: { name: locale, in: query, schema: { $ref: '#/components/schemas/ContentLocale' } }
    BulletinEdition: { name: locale, in: query, schema: { $ref: '#/components/schemas/BulletinEdition' } }
    Page: { name: page, in: query, schema: { type: integer, minimum: 1, maximum: 10000, default: 1 } }
    PageSize: { name: pageSize, in: query, schema: { type: integer, minimum: 1, maximum: 100, default: 20 } }
    PerPage: { name: perPage, in: query, schema: { type: integer, minimum: 1, maximum: 100, default: 20 } }
    SearchQuery:
      name: q
      in: query
      description: Searches the internal campaign name and localized subject or body.
      schema: { type: string, maxLength: 120 }
    IssueID: { name: issueId, in: path, required: true, schema: { type: string, format: uuid } }
    IdempotencyKey: { name: Idempotency-Key, in: header, required: true, schema: { type: string, minLength: 1 } }
    IfMatch: { name: If-Match, in: header, required: true, schema: { type: string, pattern: '^"[1-9][0-9]*"$' } }
    ContentModule: { name: module, in: path, required: true, schema: { $ref: '#/components/schemas/ContentModule' } }
    ContentID: { name: contentId, in: path, required: true, schema: { type: string, format: uuid } }
    ContentTranslationTargetLocale: { name: targetLocale, in: path, required: true, schema: { $ref: '#/components/schemas/ContentTranslationTargetLocale' } }
    BulletinTranslationTargetEdition: { name: targetLocale, in: path, required: true, schema: { $ref: '#/components/schemas/BulletinTranslationTargetEdition' } }
    CampaignTranslationTargetLocale: { name: targetLocale, in: path, required: true, schema: { $ref: '#/components/schemas/CampaignTranslationTargetLocale' } }
    Revision: { name: revision, in: path, required: true, schema: { type: integer, format: int64, minimum: 1 } }
  requestBodies:
    PublicationInput:
      required: true
      content:
        application/json:
          schema: { $ref: '#/components/schemas/PublicationInput' }
    ContentWriteInput:
      required: true
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ContentWriteInput' }
    TranslationPreviewInput:
      required: true
      content:
        application/json:
          schema: { $ref: '#/components/schemas/TranslationPreviewInput' }
  responses:
    Health:
      description: Service process is healthy or ready.
      content:
        application/json:
          schema:
            type: object
            required: [data, meta, error]
            properties:
              data:
                type: object
                required: [status]
                properties:
                  status: { type: string, enum: [healthy, ready] }
              meta: { type: object }
              error: { type: 'null' }
    BulletinIssue:
      description: Bulletin issue
      headers:
        ETag: { schema: { type: string } }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/BulletinIssueEnvelope' }
    PublicBulletin:
      description: Published bulletin
      content:
        application/json:
          schema: { $ref: '#/components/schemas/PublicBulletinEnvelope' }
    Error:
      description: Standard API error envelope
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorEnvelope' }
    AdminUnauthorized:
      description: Trusted gateway identity is missing or invalid.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorEnvelope' }
    AdminForbidden:
      description: The trusted Account identity lacks a required scope.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorEnvelope' }
    Campaign:
      description: Engagement-owned campaign response forwarded unchanged.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/CampaignEnvelope' }
    CampaignPage:
      description: Engagement-owned campaign page forwarded unchanged.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/CampaignPageEnvelope' }
    CampaignDeliveryPage:
      description: Engagement-owned campaign delivery page forwarded unchanged.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/CampaignDeliveryPageEnvelope' }
    CampaignSchedule:
      description: Engagement-owned campaign schedule forwarded unchanged.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/CampaignScheduleEnvelope' }
    CampaignScheduleList:
      description: Engagement-owned campaign schedule list forwarded unchanged.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/CampaignScheduleListEnvelope' }
    EngagementError:
      description: Engagement API rejected or could not complete the proxied request.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/EngagementErrorEnvelope' }
    EngagementUnavailable:
      description: Engagement API is unavailable locally or reports that it is not ready.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/EngagementUnavailableEnvelope' }
    ContentItem:
      description: Typed content item
      headers:
        ETag: { schema: { type: string } }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ContentItemEnvelope' }
    PublicContentList:
      description: Published localized content
      content:
        application/json:
          schema: { $ref: '#/components/schemas/PublicContentListEnvelope' }
    PublicContentItem:
      description: Published localized content item
      headers:
        ETag: { schema: { type: string } }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/PublicContentItemEnvelope' }
    PublicLocationList:
      description: Published locations for the exact requested locale.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/PublicLocationListEnvelope' }
    SiteLayout:
      description: Published Site Layout for the exact requested locale.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/SiteLayoutEnvelope' }
    SiteSettings:
      description: Site Settings aggregate.
      headers:
        ETag: { schema: { type: string } }
        Cache-Control: { schema: { type: string, const: 'private, no-store' } }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/SiteSettingsEnvelope' }
    SiteSettingsRevisionList:
      description: Site Settings revision list.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/SiteSettingsRevisionListEnvelope' }
    ContentTranslationPreview:
      description: Review-only generated translation preview; no CMS state is changed.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ContentTranslationPreviewEnvelope' }
    BulletinTranslationPreview:
      description: Review-only generated bulletin edition preview; no CMS state is changed.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/BulletinTranslationPreviewEnvelope' }
    CampaignTranslationPreview:
      description: Review-only generated campaign translation preview; no campaign or schedule state is changed.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/CampaignTranslationPreviewEnvelope' }
    InvalidTranslationRequest:
      description: invalid_translation_request
      content: { application/json: { schema: { $ref: '#/components/schemas/ErrorEnvelope' } } }
    TranslationNotFound:
      description: not_found
      content: { application/json: { schema: { $ref: '#/components/schemas/ErrorEnvelope' } } }
    TranslationExists:
      description: translation_exists
      content: { application/json: { schema: { $ref: '#/components/schemas/ErrorEnvelope' } } }
    TranslationVersionMismatch:
      description: version_mismatch
      content: { application/json: { schema: { $ref: '#/components/schemas/ErrorEnvelope' } } }
    TranslationRateLimited:
      description: translation_rate_limited
      headers:
        Retry-After:
          description: Integer seconds until the caller may retry this translation target.
          schema: { type: integer, minimum: 1 }
      content: { application/json: { schema: { $ref: '#/components/schemas/ErrorEnvelope' } } }
    TranslationContentFiltered:
      description: translation_content_filtered
      content: { application/json: { schema: { $ref: '#/components/schemas/ErrorEnvelope' } } }
    TranslationProviderError:
      description: translation_provider_error
      content: { application/json: { schema: { $ref: '#/components/schemas/ErrorEnvelope' } } }
    TranslationDisabled:
      description: translation_disabled
      content: { application/json: { schema: { $ref: '#/components/schemas/ErrorEnvelope' } } }
    TranslationTimeout:
      description: translation_timeout
      content: { application/json: { schema: { $ref: '#/components/schemas/ErrorEnvelope' } } }
  schemas:
    CampaignTranslation:
      type: object
      additionalProperties: false
      required: [subject, body]
      properties:
        subject: { type: string, maxLength: 200 }
        body: { type: string, maxLength: 20000 }
        clickBehavior:
          type: string
          enum: [home, url, dismiss]
          description: Web push click behavior. URL requires actionUrl; home and dismiss omit it.
        actionUrl:
          type: string
          maxLength: 2048
          pattern: '^/(?!/).*$'
    CampaignStatus:
      type: string
      enum: [draft, queued, sending, completed, completed_with_failures, failed]
    CampaignDeliverySummary:
      type: object
      additionalProperties: false
      required: [total, pending, processing, submitted, sent, failed, suppressed]
      properties:
        total: { type: integer, minimum: 0 }
        pending: { type: integer, minimum: 0 }
        processing: { type: integer, minimum: 0 }
        submitted: { type: integer, minimum: 0 }
        sent: { type: integer, minimum: 0 }
        failed: { type: integer, minimum: 0 }
        suppressed: { type: integer, minimum: 0 }
    Campaign:
      type: object
      additionalProperties: false
      required: [id, name, audienceType, channel, translations, status, recipientCount, createdBy, createdAt, updatedAt, queuedAt, deliverySummary, version]
      properties:
        id: { type: string, format: uuid }
        name: { type: string, maxLength: 120 }
        audienceType: { type: string, enum: [newsletter, all, role, users] }
        channel: { type: string, enum: [email, web_push] }
        roleId: { type: string, format: uuid }
        userIds:
          type: array
          maxItems: 500
          uniqueItems: true
          items: { type: string, format: uuid }
        translations:
          type: object
          minProperties: 1
          additionalProperties: { $ref: '#/components/schemas/CampaignTranslation' }
        status: { $ref: '#/components/schemas/CampaignStatus' }
        recipientCount: { type: integer, minimum: 0 }
        createdBy: { type: string }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        queuedAt: { type: [string, 'null'], format: date-time }
        deliverySummary: { $ref: '#/components/schemas/CampaignDeliverySummary' }
        version: { type: integer, format: int64, minimum: 1 }
    CampaignPage:
      type: object
      additionalProperties: false
      required: [items, page, perPage, total]
      properties:
        items: { type: array, items: { $ref: '#/components/schemas/Campaign' } }
        page: { type: integer, minimum: 1 }
        perPage: { type: integer, minimum: 1, maximum: 100 }
        total: { type: integer, minimum: 0 }
    CampaignDelivery:
      type: object
      additionalProperties: false
      required: [recipientId, channel, locale, status, attemptCount, updatedAt]
      properties:
        recipientId: { type: string }
        userId: { type: string, format: uuid }
        channel: { type: string, enum: [email, web_push] }
        locale: { type: string }
        status: { type: string, enum: [pending, processing, submitted, sent, failed, suppressed] }
        attemptCount: { type: integer, minimum: 0 }
        failureCode: { type: string }
        updatedAt: { type: string, format: date-time }
    CampaignDeliveryPage:
      type: object
      additionalProperties: false
      required: [items, page, perPage, total, summary, campaignStatus]
      properties:
        items: { type: array, items: { $ref: '#/components/schemas/CampaignDelivery' } }
        page: { type: integer, minimum: 1 }
        perPage: { type: integer, minimum: 1, maximum: 100 }
        total: { type: integer, minimum: 0 }
        summary: { $ref: '#/components/schemas/CampaignDeliverySummary' }
        campaignStatus: { $ref: '#/components/schemas/CampaignStatus' }
    CampaignSchedule:
      type: object
      additionalProperties: false
      required: [id, name, channel, audienceType, scheduleType, runAt, cronExpression, timezone, translations, enabled, nextRunAt, lastRunAt, createdBy, createdAt, updatedAt, version]
      properties:
        id: { type: string, format: uuid }
        name: { type: string, maxLength: 120 }
        channel: { type: string, enum: [email, web_push] }
        audienceType: { type: string, enum: [newsletter, all, role, users] }
        roleId: { type: string, format: uuid }
        userIds:
          type: array
          maxItems: 500
          uniqueItems: true
          items: { type: string, format: uuid }
        scheduleType: { type: string, enum: [once, cron] }
        runAt: { type: [string, 'null'], format: date-time }
        cronExpression: { type: string }
        timezone: { type: string }
        translations:
          type: object
          minProperties: 1
          additionalProperties: { $ref: '#/components/schemas/CampaignTranslation' }
        enabled: { type: boolean }
        nextRunAt: { type: [string, 'null'], format: date-time }
        lastRunAt: { type: [string, 'null'], format: date-time }
        createdBy: { type: string }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        version: { type: integer, format: int64, minimum: 1 }
    CampaignEnvelope:
      type: object
      additionalProperties: false
      required: [data]
      properties:
        data: { $ref: '#/components/schemas/Campaign' }
    CampaignPageEnvelope:
      type: object
      additionalProperties: false
      required: [data]
      properties:
        data: { $ref: '#/components/schemas/CampaignPage' }
    CampaignDeliveryPageEnvelope:
      type: object
      additionalProperties: false
      required: [data]
      properties:
        data: { $ref: '#/components/schemas/CampaignDeliveryPage' }
    CampaignScheduleEnvelope:
      type: object
      additionalProperties: false
      required: [data]
      properties:
        data: { $ref: '#/components/schemas/CampaignSchedule' }
    CampaignScheduleListEnvelope:
      type: object
      additionalProperties: false
      required: [data]
      properties:
        data: { type: array, items: { $ref: '#/components/schemas/CampaignSchedule' } }
    EngagementErrorBody:
      type: object
      additionalProperties: false
      required: [code]
      properties:
        code:
          type: string
          enum: [ENG_INVALID_REQUEST, ENG_REQUEST_INVALID, ENG_CAMPAIGN_NOT_FOUND, ENG_IDEMPOTENCY_CONFLICT, ENG_CAMPAIGN_STATE_CONFLICT, ENG_INTERNAL, ENG_NOT_READY, ENG_UNAUTHORIZED, ENG_FORBIDDEN]
    EngagementErrorEnvelope:
      type: object
      additionalProperties: false
      required: [error]
      properties:
        error: { $ref: '#/components/schemas/EngagementErrorBody' }
    EngagementUnavailableEnvelope:
      oneOf:
        - $ref: '#/components/schemas/ErrorEnvelope'
        - $ref: '#/components/schemas/EngagementErrorEnvelope'
    CreateCampaign:
      type: object
      additionalProperties: false
      required: [name, channel, audienceType, translations]
      properties:
        name: { type: string, maxLength: 120 }
        channel: { type: string, enum: [email, web_push] }
        audienceType: { type: string, enum: [newsletter, all, role, users] }
        roleId: { type: string, format: uuid }
        userIds:
          type: array
          maxItems: 500
          uniqueItems: true
          items: { type: string, format: uuid }
        translations:
          type: object
          minProperties: 1
          additionalProperties: { $ref: '#/components/schemas/CampaignTranslation' }
    UpdateCampaign:
      type: object
      additionalProperties: false
      required: [name, channel, audienceType, translations]
      properties:
        name: { type: string, maxLength: 120 }
        channel: { type: string, enum: [email, web_push] }
        audienceType: { type: string, enum: [newsletter, all, role, users] }
        roleId: { type: string, format: uuid }
        userIds:
          type: array
          maxItems: 500
          uniqueItems: true
          items: { type: string, format: uuid }
        translations:
          type: object
          minProperties: 1
          additionalProperties: { $ref: '#/components/schemas/CampaignTranslation' }
    CreateCampaignSchedule:
      allOf:
        - $ref: '#/components/schemas/CampaignScheduleFields'
      unevaluatedProperties: false
    CampaignScheduleFields:
      type: object
      required: [name, channel, audienceType, scheduleType, translations]
      properties:
        name: { type: string, maxLength: 120 }
        channel: { type: string, enum: [email, web_push] }
        audienceType: { type: string, enum: [newsletter, all, role, users] }
        roleId: { type: string, format: uuid }
        userIds:
          type: array
          maxItems: 500
          uniqueItems: true
          items: { type: string, format: uuid }
        scheduleType: { type: string, enum: [once, cron] }
        runAt: { type: [string, 'null'], format: date-time }
        cronExpression: { type: string }
        timezone: { type: string, default: Asia/Taipei }
        translations:
          type: object
          minProperties: 1
          additionalProperties: { $ref: '#/components/schemas/CampaignTranslation' }
    UpdateCampaignSchedule:
      allOf:
        - $ref: '#/components/schemas/CampaignScheduleFields'
        - type: object
          required: [enabled]
          properties:
            enabled: { type: boolean }
      unevaluatedProperties: false
    ContentLocale:
      type: string
      enum: [zh-Hant, zh-Hans, en, ja, ko]
      default: zh-Hant
    BulletinEdition:
      type: string
      enum: [zh-Hant, zh-Hans, en]
      default: zh-Hant
    ContentTranslationTargetLocale:
      type: string
      enum: [zh-Hans, en, ja, ko]
    BulletinTranslationTargetEdition:
      type: string
      enum: [zh-Hans, en]
    CampaignTranslationTargetLocale:
      type: string
      enum: [en, ja, ko]
    BulletinStatus:
      type: string
      enum: [draft, publishing, published, unpublishing, unpublish_failed, unpublished]
    BulletinVersionStatus:
      type: string
      enum: [draft, publishing, published, unpublishing, unpublish_failed, unpublished]
    ContentModule:
      type: string
      enum: [news, history, videos, locations]
    ContentStatus:
      type: string
      enum: [draft, publishing, published, publish_failed, unpublishing, unpublish_failed, unpublished]
    PageMeta:
      type: object
      required: [page, pageSize, total]
      properties:
        page: { type: integer }
        pageSize: { type: integer }
        total: { type: integer, format: int64 }
    ErrorBody:
      type: object
      required: [code, message]
      properties:
        code: { type: string }
        message: { type: string }
    BulletinVersion:
      type: object
      required: [id, issueId, locale, title, subtitle, pdfAssetId, pdfFileName, status, version, createdAt, updatedAt]
      properties:
        id: { type: string, format: uuid }
        issueId: { type: string, format: uuid }
        locale: { $ref: '#/components/schemas/BulletinEdition' }
        title: { type: string }
        subtitle: { type: string }
        pdfAssetId: { type: string }
        pdfFileName: { type: string }
        publicGrantId: { type: string }
        status: { $ref: '#/components/schemas/BulletinVersionStatus' }
        workflowStatus: { type: string }
        workflowError: { type: string }
        version: { type: integer, format: int64 }
        publishedAt: { type: string, format: date-time }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
    BulletinIssue:
      type: object
      required: [id, issueDate, status, notificationStatus, version, createdBy, updatedBy, createdAt, updatedAt, versions]
      properties:
        id: { type: string, format: uuid }
        issueNumber: { type: integer, minimum: 1 }
        issueDate: { type: string, format: date }
        status: { $ref: '#/components/schemas/BulletinStatus' }
        notificationStatus: { type: string, enum: [not_requested, pending, queued, failed] }
        notificationQueuedAt: { type: string, format: date-time }
        notificationErrorCode: { type: string, enum: [NOTIFICATION_QUEUE_FAILED] }
        version: { type: integer, format: int64 }
        createdBy: { type: string }
        updatedBy: { type: string }
        publishedAt: { type: string, format: date-time }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        versions:
          type: array
          items: { $ref: '#/components/schemas/BulletinVersion' }
    BulletinRevision:
      type: object
      required: [version, snapshot, createdBy, createdAt]
      properties:
        version: { type: integer, format: int64 }
        snapshot: { $ref: '#/components/schemas/BulletinIssue' }
        createdBy: { type: string }
        createdAt: { type: string, format: date-time }
    PublicBulletin:
      type: object
      required: [issueDate, locale, title, subtitle, downloadUrl, downloadFileName, publishedAt, version]
      properties:
        issueDate: { type: string, format: date }
        issueNumber: { type: integer, minimum: 1 }
        locale: { $ref: '#/components/schemas/BulletinEdition' }
        title: { type: string }
        subtitle: { type: string }
        downloadUrl: { type: string }
        downloadFileName: { type: string }
        publishedAt: { type: string, format: date-time }
        version: { type: integer, format: int64 }
    PublicBulletinIssue:
      type: object
      required: [issueDate, versions]
      properties:
        issueDate: { type: string, format: date }
        issueNumber: { type: integer, minimum: 1 }
        versions:
          type: array
          items: { $ref: '#/components/schemas/PublicBulletin' }
    Workflow:
      type: object
      required: [id, status, aggregateVersion, createdAt]
      properties:
        id: { type: string, format: uuid }
        status: { type: string }
        aggregateVersion: { type: integer, format: int64 }
        createdAt: { type: string, format: date-time }
    AssetSummary:
      type: object
      required: [id]
      properties:
        id: { type: string }
    UploadTarget:
      type: object
      required: [url, method, headers, expiresAt]
      properties:
        url: { type: string, format: uri }
        method: { type: string }
        headers: { type: object, additionalProperties: { type: string } }
        expiresAt: { type: string, format: date-time }
    CreatedUpload:
      type: object
      required: [asset, uploadTarget]
      properties:
        asset: { $ref: '#/components/schemas/AssetSummary' }
        uploadTarget: { $ref: '#/components/schemas/UploadTarget' }
    CreateBulletinInput:
      type: object
      additionalProperties: false
      required: [issueNumber, issueDate]
      properties:
        issueNumber: { type: integer, minimum: 1 }
        issueDate: { type: string, format: date }
    UpdateBulletinInput:
      type: object
      additionalProperties: false
      required: [issueNumber, issueDate]
      properties:
        issueNumber: { type: integer, minimum: 1 }
        issueDate: { type: string, format: date }
    CreateBulletinUploadInput:
      type: object
      additionalProperties: false
      required: [locale, fileName, mimeType, sizeBytes]
      properties:
        locale: { $ref: '#/components/schemas/BulletinEdition' }
        fileName: { type: string, minLength: 1 }
        mimeType: { type: string, const: application/pdf }
        sizeBytes: { type: integer, format: int64, minimum: 1, maximum: 20971520 }
    UpdateBulletinVersionInput:
      type: object
      additionalProperties: false
      required: [title, subtitle]
      properties:
        title: { type: string, minLength: 1, maxLength: 200 }
        subtitle: { type: string, maxLength: 300 }
    CompleteBulletinUploadInput:
      type: object
      additionalProperties: false
      required: [locale, title, subtitle, fileName, mimeType, sizeBytes, checksumSha256]
      properties:
        locale: { $ref: '#/components/schemas/BulletinEdition' }
        title: { type: string, minLength: 1 }
        subtitle: { type: string, maxLength: 300 }
        fileName: { type: string, minLength: 1 }
        mimeType: { type: string, const: application/pdf }
        sizeBytes: { type: integer, format: int64, minimum: 1, maximum: 20971520 }
        checksumSha256: { type: string, pattern: '^[a-fA-F0-9]{64}$' }
    CreateImageUploadInput:
      type: object
      additionalProperties: false
      required: [fileName, mimeType, sizeBytes]
      properties:
        usage: { type: string, enum: [detail, home], default: detail }
        fileName: { type: string, minLength: 1 }
        mimeType: { type: string, enum: [image/jpeg, image/png, image/webp] }
        sizeBytes: { type: integer, format: int64, minimum: 1, maximum: 10485760 }
    CompleteImageUploadInput:
      type: object
      additionalProperties: false
      required: [fileName, mimeType, sizeBytes, checksumSha256]
      properties:
        fileName: { type: string, minLength: 1 }
        mimeType: { type: string, enum: [image/jpeg, image/png, image/webp] }
        sizeBytes: { type: integer, format: int64, minimum: 1, maximum: 10485760 }
        checksumSha256: { type: string, pattern: '^[a-fA-F0-9]{64}$' }
    AssetStatus:
      type: object
      additionalProperties: false
      required: [id, uploadStatus, scanStatus, processingStatus, retryable]
      properties:
        id: { type: string }
        uploadStatus: { type: string, enum: [created, completed, failed] }
        scanStatus: { type: string, enum: [pending, clean, infected, failed] }
        processingStatus: { type: string, enum: [pending, ready, not_required, failed] }
        retryable: { type: boolean }
    PublicationInput:
      type: object
      additionalProperties: false
      required: [locale]
      properties:
        locale: { $ref: '#/components/schemas/BulletinEdition' }
        notifySubscribers:
          type: boolean
          default: false
          description: Queue one Web Push campaign after the bulletin is publicly available. Ignored by unpublish operations.
    ContentTranslation:
      type: object
      additionalProperties: false
      required: [locale, title]
      properties:
        locale: { $ref: '#/components/schemas/ContentLocale' }
        title: { type: string, minLength: 1, maxLength: 200 }
        summary: { type: string, maxLength: 500 }
        body: { type: string, maxLength: 100000 }
        dateLabel: { type: string, maxLength: 100 }
        imageAlt: { type: string, maxLength: 300 }
    TranslationPreviewInput:
      type: object
      additionalProperties: false
      required: [sourceLocale, replaceExisting]
      properties:
        sourceLocale: { type: string, const: zh-Hant }
        replaceExisting: { type: boolean }
    ContentTranslationPreview:
      type: object
      additionalProperties: false
      required: [sourceLocale, targetLocale, sourceVersion, translation, retryAfterSeconds]
      properties:
        sourceLocale: { type: string, const: zh-Hant }
        targetLocale: { $ref: '#/components/schemas/ContentTranslationTargetLocale' }
        sourceVersion: { type: integer, format: int64, minimum: 1 }
        retryAfterSeconds: { type: integer, format: int64, minimum: 1, description: Integer seconds until this resource target may be translated again. }
        translation:
          oneOf:
            - $ref: '#/components/schemas/NewsTranslationPreview'
            - $ref: '#/components/schemas/HistoryTranslationPreview'
            - $ref: '#/components/schemas/VideoTranslationPreview'
    BulletinTranslationPreview:
      type: object
      additionalProperties: false
      required: [sourceLocale, targetLocale, sourceVersion, translation, retryAfterSeconds]
      properties:
        sourceLocale: { type: string, const: zh-Hant }
        targetLocale: { $ref: '#/components/schemas/BulletinTranslationTargetEdition' }
        sourceVersion: { type: integer, format: int64, minimum: 1 }
        retryAfterSeconds: { type: integer, format: int64, minimum: 1, description: Integer seconds until this resource target may be translated again. }
        translation: { $ref: '#/components/schemas/BulletinTranslationFields' }
    CampaignTranslationPreview:
      type: object
      additionalProperties: false
      required: [sourceLocale, targetLocale, sourceVersion, translation, retryAfterSeconds]
      properties:
        sourceLocale: { type: string, const: zh-Hant }
        targetLocale: { $ref: '#/components/schemas/CampaignTranslationTargetLocale' }
        sourceVersion: { type: integer, format: int64, minimum: 1 }
        retryAfterSeconds: { type: integer, format: int64, minimum: 1, description: Integer seconds until this resource target may be translated again. }
        translation: { $ref: '#/components/schemas/CampaignTranslationFields' }
    CampaignTranslationFields:
      type: object
      additionalProperties: false
      required: [subject, body]
      properties:
        subject: { type: string, minLength: 1, maxLength: 200 }
        body: { type: string, maxLength: 100000 }
    NewsTranslationPreview:
      type: object
      additionalProperties: false
      required: [title, body, imageAlt]
      properties:
        title: { type: string, minLength: 1, maxLength: 200 }
        body: { type: string, maxLength: 100000 }
        imageAlt: { type: string, maxLength: 300 }
    HistoryTranslationPreview:
      type: object
      additionalProperties: false
      required: [title, body]
      properties:
        title: { type: string, minLength: 1, maxLength: 200 }
        body: { type: string, maxLength: 100000 }
    VideoTranslationPreview:
      type: object
      additionalProperties: false
      required: [title]
      properties:
        title: { type: string, minLength: 1, maxLength: 200 }
    BulletinTranslationFields:
      type: object
      additionalProperties: false
      required: [title, subtitle]
      properties:
        title: { type: string, minLength: 1, maxLength: 200 }
        subtitle: { type: string, maxLength: 300 }
    ContentWriteInput:
      allOf:
        - $ref: '#/components/schemas/ContentWriteFields'
      unevaluatedProperties: false
    ContentWriteFields:
      type: object
      required: [translations]
      description: Location fields are optional wire fields for backward compatibility; locations requires them and other content modules reject them.
      properties:
        authorName: { type: string, maxLength: 200 }
        slug: { type: string, minLength: 1, maxLength: 120, pattern: '^[a-z0-9]+(?:-[a-z0-9]+)*$' }
        displayDate: { type: string, format: date }
        eventDate: { type: string, pattern: '^\d{4}(?:-\d{2}(?:-\d{2})?)?$' }
        youtubeVideoId: { type: string, pattern: '^[A-Za-z0-9_-]{11}$' }
        coverAssetId: { type: string, maxLength: 200 }
        homeCoverAssetId: { type: string, maxLength: 200 }
        detailLayout: { type: string, enum: [top, left, right], default: top }
        featured: { type: boolean }
        homeEligible: { type: boolean }
        locationKey: { type: string, minLength: 1, maxLength: 120, pattern: '^[a-z0-9]+(?:-[a-z0-9]+)*$' }
        mapHref: { type: string, format: uri, pattern: '^https://' }
        sortOrder: { type: integer, minimum: 0 }
        translations:
          type: array
          minItems: 1
          maxItems: 5
          items: { $ref: '#/components/schemas/ContentTranslation' }
        deleteLocales:
          type: array
          uniqueItems: true
          description: Locales omitted from translations are preserved unless they are named here for explicit deletion.
          items: { $ref: '#/components/schemas/ContentLocale' }
    ContentItem:
      allOf:
        - $ref: '#/components/schemas/ContentWriteFields'
        - type: object
          required: [id, module, status, version, isPublished, createdBy, updatedBy, createdAt, updatedAt]
          properties:
            id: { type: string, format: uuid }
            module: { $ref: '#/components/schemas/ContentModule' }
            status: { $ref: '#/components/schemas/ContentStatus' }
            version: { type: integer, format: int64 }
            coverUrl: { type: string }
            homeCoverUrl: { type: string }
            isPublished: { type: boolean }
            publishedVersion: { type: integer, format: int64 }
            createdBy: { type: string }
            updatedBy: { type: string }
            publishedAt: { type: string, format: date-time }
            createdAt: { type: string, format: date-time }
            updatedAt: { type: string, format: date-time }
      unevaluatedProperties: false
    ContentRevision:
      type: object
      required: [version, snapshot, createdBy, createdAt]
      properties:
        version: { type: integer, format: int64 }
        snapshot: { $ref: '#/components/schemas/ContentItem' }
        createdBy: { type: string }
        createdAt: { type: string, format: date-time }
    PublicContentItem:
      type: object
      required: [id, title, resolvedLocale, availableLocales]
      properties:
        id: { type: string }
        title: { type: string }
        resolvedLocale: { $ref: '#/components/schemas/ContentLocale' }
        availableLocales:
          type: array
          items: { $ref: '#/components/schemas/ContentLocale' }
        summary: { type: string }
        body: { type: string }
        dateLabel: { type: string }
        displayDate: { type: string, format: date }
        eventDate: { type: string, pattern: '^\d{4}(?:-\d{2}(?:-\d{2})?)?$' }
        imageAlt: { type: string }
        imageUrl: { type: string }
        homeImageUrl: { type: string }
        href: { type: string }
        youtubeVideoId: { type: string }
        featured: { type: boolean }
        homeEligible: { type: boolean }
        detailLayout: { type: string, enum: [top, left, right] }
        authorName: { type: string, maxLength: 200 }
        firstPublishedAt: { type: string, format: date-time }
        lastPublishedAt: { type: string, format: date-time }
    PublicLocation:
      type: object
      required: [id, name, address, mapHref, sortOrder, resolvedLocale, availableLocales]
      properties:
        id: { type: string, pattern: '^[a-z0-9]+(?:-[a-z0-9]+)*$' }
        name: { type: string }
        address: { type: string }
        mapHref: { type: string, format: uri, pattern: '^https://' }
        sortOrder: { type: integer, minimum: 0 }
        resolvedLocale: { $ref: '#/components/schemas/ContentLocale' }
        availableLocales:
          type: array
          items: { $ref: '#/components/schemas/ContentLocale' }
    AdminSiteHeaderNavigationItem:
      type: object
      additionalProperties: false
      required: [key, label, href, visible]
      properties:
        key: { type: string, enum: [about, news, literature-ministry] }
        label: { type: string }
        href: { type: string }
        visible: { type: boolean }
      oneOf:
        - properties: { key: { const: about }, href: { const: '/{locale}/about' } }
        - properties: { key: { const: news }, href: { const: '/{locale}/news' } }
        - properties: { key: { const: literature-ministry }, href: { const: '/{locale}/literature-ministry' } }
    AdminSiteLegalNavigationItem:
      type: object
      additionalProperties: false
      required: [key, label, href, visible]
      properties:
        key: { type: string, enum: [privacy-policy, terms-of-use] }
        label: { type: string }
        href: { type: string }
        visible: { type: boolean }
      oneOf:
        - properties: { key: { const: privacy-policy }, href: { const: '/{locale}/privacy-policy' } }
        - properties: { key: { const: terms-of-use }, href: { const: '/{locale}/terms-of-use' } }
    PublicSiteHeaderNavigationItem:
      type: object
      additionalProperties: false
      required: [key, label, href, visible]
      properties:
        key: { type: string, enum: [about, news, literature-ministry] }
        label: { type: string }
        href: { type: string }
        visible: { type: boolean }
      oneOf:
        - properties: { key: { const: about }, href: { pattern: '^/(?:zh-Hant|zh-Hans|en|ja|ko)/about$' } }
        - properties: { key: { const: news }, href: { pattern: '^/(?:zh-Hant|zh-Hans|en|ja|ko)/news$' } }
        - properties: { key: { const: literature-ministry }, href: { pattern: '^/(?:zh-Hant|zh-Hans|en|ja|ko)/literature-ministry$' } }
    PublicSiteLegalNavigationItem:
      type: object
      additionalProperties: false
      required: [key, label, href, visible]
      properties:
        key: { type: string, enum: [privacy-policy, terms-of-use] }
[...]
